
div aside.hidden-desktop.hidden-tablet {
	position: fixed;
	bottom: -12px;
	margin: 0 auto;
	text-align: center;
	padding: 0;
	z-index: 10;
	left: 0;
}

#page div.widget.default {
	border: 0;
} 
#page div.widget.default img {
	text-align: center;
	display: block;
	margin: 0 auto;
} 