form#wpbdmsearchform {
  text-align: right;
}
form#wpbdmsearchform input {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
  vertical-align: top;
}
form#wpbdmsearchform #intextbox {
  height: 20px;
}
form#wpbdmsearchform #wpbdmsearchsubmit {
  margin-left: 0.5em;
  margin-top: 0;
  margin-bottom: 9px;
}
form#wpbdmsearchform a.advanced-search-link {
  line-height: 1.1em;
}
@media (max-width: 650px) {
  .wpbdp-bar .wpbdp-main-links {
    float: none;
    margin: 0 auto;
    text-align: center;
  }
  form#wpbdmsearchform {
    text-align: center;
    margin-left: 0;
    padding-top: 1em;
  }
}
