/**
 * @group Color
 * @label Base Color (used for navbar, widget titles, etc.)
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Header/Footer Color
 * @type color
 * @default_value #222
 */
/**
 * @group Color
 * @label Pre-Footer Color
 * @type color
 * @default_value #ddd
 */
/**
 * @group Color
 * @label Color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Hover color of links
 * @type color
 * @default_value #2275bb
 */
/**
 * @group Color
 * @label Background color of post meta boxes (author bio, related posts, etc.)
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Body Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Page Background Color
 * @type color
 * @default_value #fff
 */
/**
 * @group Basics
 * @label Text Color
 * @type color
 * @default_value #333
 */
/**
 * @group Basics
 * @label Default Vertical Spacing
 * @type pixels
 * @default_value 24px
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type text
 * @default_value "Helvetica Neue", Helvetica, Arial, sans-serif
 */
/**
 * @group Typography
 * @label Serif Font Family
 * @type text
 */
/**
 * @group Typography
 * @label Base Font Size
 * @type pixels
 */
/**
 * @group Typography
 * @label Sans Font Family
 * @type dropdown
 * @options @serifFontFamily|@sansFontFamily
 * @default_value @serifFontFamily
 */
/**
 * @group Typography
 * @label Base Line Height
 * @type text
 * @default_value 1.5
 */
/* General navbar vars */
/* Main navbar vars */
/* Sticky nav bar vars */
#homepage-featured {
  margin-bottom: 24px;
  border: 1px solid #dddddd;
  border-bottom: 5px solid #dddddd;
}
#homepage-featured .top-story {
  padding: 10px 10px 24px;
}
#homepage-featured .top-story img {
  margin-bottom: 12px;
}
#homepage-featured .top-story h2 {
  font-size: 32px;
  margin-bottom: 12px;
  line-height: 1.1;
}
#homepage-featured .top-story p {
  font-size: 13.04px;
  margin-bottom: 12px;
}
#homepage-featured .top-story h4 {
  font-size: 14px;
  margin-bottom: 0;
}
#homepage-featured .sub-stories {
  padding: 10px 10px 10px 0;
}
#homepage-featured .sub-stories .story {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 12px;
  overflow: hidden;
}
#homepage-featured .sub-stories h5.top-tag {
  font-size: 10.672px;
  margin-bottom: 0;
  font-weight: bold;
}
#homepage-featured .sub-stories h3 {
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 1.2;
}
#homepage-featured .sub-stories p {
  font-size: 10.672px;
  margin-bottom: 12px;
}
#homepage-featured .sub-stories p a {
  display: none;
}
#homepage-featured .sub-stories h4.subhead {
  font-size: 13.04px;
  text-transform: uppercase;
  margin-bottom: 6px;
}
#homepage-featured .sub-stories h5 {
  font-size: 13.04px;
  margin-bottom: 6px;
  font-weight: normal;
}
@media (min-width: 769px) and (max-width: 979px) {
  #homepage-featured .sub-stories h4,
  #homepage-featured .sub-stories h5 {
    display: none;
  }
}
@media (max-width: 768px) {
  #homepage-featured .top-story,
  #homepage-featured .sub-stories {
    clear: both;
    width: 100%;
    padding: 10px;
    margin: 0;
  }
  #homepage-featured .sub-stories {
    border-top: 1px solid #dddddd;
  }
}
/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbImhvbWVwYWdlcy9hc3NldHMvbGVzcy90b3Atc3Rvcmllcy5sZXNzIl0sIm5hbWVzIjpbXSwibWFwcGluZ3MiOiI7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7Ozs7O0FBR0E7RUFDRSxtQkFBQTtFQUNBLHlCQUFBO0VBQ0EsZ0NBQUE7O0FBRUYsa0JBQW1CO0VBQ2pCLHVCQUFBOztBQURGLGtCQUFtQixXQUVqQjtFQUNFLG1CQUFBOztBQUhKLGtCQUFtQixXQUtqQjtFQUNFLGVBQUE7RUFFQSxtQkFBQTtFQUNBLGdCQUFBOztBQVRKLGtCQUFtQixXQVdqQjtFQUNFLGtCQUFBO0VBQ0EsbUJBQUE7O0FBYkosa0JBQW1CLFdBZWpCO0VBQ0UsZUFBQTtFQUNBLGdCQUFBOztBQUdKLGtCQUFtQjtFQUNqQix5QkFBQTs7QUFERixrQkFBbUIsYUFFakI7RUFDRSxnQ0FBQTtFQUNBLG1CQUFBO0VBQ0EsZ0JBQUE7O0FBTEosa0JBQW1CLGFBT2pCLEdBQUU7RUFDQSxtQkFBQTtFQUNBLGdCQUFBO0VBQ0EsaUJBQUE7O0FBVkosa0JBQW1CLGFBWWpCO0VBQ0UsZUFBQTtFQUNBLGtCQUFBO0VBQ0EsZ0JBQUE7O0FBZkosa0JBQW1CLGFBaUJqQjtFQUNFLG1CQUFBO0VBQ0EsbUJBQUE7O0FBbkJKLGtCQUFtQixhQWlCakIsRUFHRTtFQUNFLGFBQUE7O0FBckJOLGtCQUFtQixhQXdCakIsR0FBRTtFQUNBLGtCQUFBO0VBQ0EseUJBQUE7RUFDQSxrQkFBQTs7QUEzQkosa0JBQW1CLGFBNkJqQjtFQUNFLGtCQUFBO0VBQ0Esa0JBQUE7RUFDQSxtQkFBQTs7QUFZSixRQVIwQix1QkFBdUI7RUFDL0Msa0JBQW1CLGFBQ2pCO0VBREYsa0JBQW1CLGFBQ2I7SUFDRixhQUFBOzs7QUFpQk4sUUFaMEI7RUFDeEIsa0JBQW1CO0VBQ25CLGtCQUFtQjtJQUNqQixXQUFBO0lBQ0EsV0FBQTtJQUNBLGFBQUE7SUFDQSxTQUFBOztFQUVGLGtCQUFtQjtJQUNqQiw2QkFBQSIsInNvdXJjZXNDb250ZW50IjpbIkBpbXBvcnQgXCIuLi8uLi8uLi9sZXNzL2luYy92YXJpYWJsZXMubGVzc1wiO1xuQGltcG9ydCBcIi4uLy4uLy4uL2xlc3MvaW5jL21peGlucy5sZXNzXCI7XG5cbiNob21lcGFnZS1mZWF0dXJlZCB7XG4gIG1hcmdpbi1ib3R0b206IEBiYXNlbGluZTtcbiAgYm9yZGVyOiAxcHggc29saWQgQGdyYXlMaWdodGVyO1xuICBib3JkZXItYm90dG9tOiA1cHggc29saWQgQGdyYXlMaWdodGVyO1xufVxuI2hvbWVwYWdlLWZlYXR1cmVkIC50b3Atc3Rvcnkge1xuICBwYWRkaW5nOiAxMHB4IDEwcHggQGJhc2VsaW5lO1xuICBpbWcge1xuICAgIG1hcmdpbi1ib3R0b206IEBiYXNlbGluZSAvIDIgO1xuICB9XG4gIGgyIHtcbiAgICBmb250LXNpemU6IEBiYXNlRm9udFNpemUgKiAyO1xuXG4gICAgbWFyZ2luLWJvdHRvbTogQGJhc2VsaW5lIC8gMjtcbiAgICBsaW5lLWhlaWdodDogMS4xO1xuICB9XG4gIHAge1xuICAgIGZvbnQtc2l6ZTogQGJhc2VGb250U2l6ZSAqIDAuODE1O1xuICAgIG1hcmdpbi1ib3R0b206IEBiYXNlbGluZSAvIDI7XG4gIH1cbiAgaDQge1xuICAgIGZvbnQtc2l6ZTogQGJhc2VGb250U2l6ZSAtIDI7XG4gICAgbWFyZ2luLWJvdHRvbTogMDtcbiAgfVxufVxuI2hvbWVwYWdlLWZlYXR1cmVkIC5zdWItc3RvcmllcyB7XG4gIHBhZGRpbmc6IDEwcHggMTBweCAxMHB4IDA7XG4gIC5zdG9yeSB7XG4gICAgYm9yZGVyLWJvdHRvbTogMXB4IHNvbGlkIEBncmF5TGlnaHRlcjtcbiAgICBtYXJnaW4tYm90dG9tOiBAYmFzZWxpbmUgLyAyO1xuICAgIG92ZXJmbG93OiBoaWRkZW47XG4gIH1cbiAgaDUudG9wLXRhZyB7XG4gICAgZm9udC1zaXplOiBAYmFzZUZvbnRTaXplICogMC42Njc7XG4gICAgbWFyZ2luLWJvdHRvbTowO1xuICAgIGZvbnQtd2VpZ2h0OmJvbGQ7XG4gIH1cbiAgaDMge1xuICAgIGZvbnQtc2l6ZTogQGJhc2VGb250U2l6ZTtcbiAgICBtYXJnaW4tYm90dG9tOiBAYmFzZWxpbmUgLyA0O1xuICAgIGxpbmUtaGVpZ2h0OiAxLjI7XG4gIH1cbiAgcCB7XG4gICAgZm9udC1zaXplOiBAYmFzZUZvbnRTaXplICogMC42Njc7XG4gICAgbWFyZ2luLWJvdHRvbTogQGJhc2VsaW5lIC8gMjtcbiAgICBhIHtcbiAgICAgIGRpc3BsYXk6bm9uZTtcbiAgICB9XG4gIH1cbiAgaDQuc3ViaGVhZCB7XG4gICAgZm9udC1zaXplOiBAYmFzZUZvbnRTaXplICogMC44MTU7XG4gICAgdGV4dC10cmFuc2Zvcm06IHVwcGVyY2FzZTtcbiAgICBtYXJnaW4tYm90dG9tOiBAYmFzZWxpbmUgLyA0O1xuICB9XG4gIGg1IHtcbiAgICBmb250LXNpemU6IEBiYXNlRm9udFNpemUgKiAwLjgxNTtcbiAgICBtYXJnaW4tYm90dG9tOiBAYmFzZWxpbmUgLyA0O1xuICAgIGZvbnQtd2VpZ2h0OiBub3JtYWw7XG4gIH1cbn1cblxuQG1lZGlhIChtaW4td2lkdGg6IDc2OXB4KSBhbmQgKG1heC13aWR0aDogOTc5cHgpIHtcbiAgI2hvbWVwYWdlLWZlYXR1cmVkIC5zdWItc3RvcmllcyB7XG4gICAgaDQsIGg1IHtcbiAgICAgIGRpc3BsYXk6IG5vbmU7XG4gICAgfVxuICB9XG59XG5cbkBtZWRpYSAobWF4LXdpZHRoOiA3NjhweCkge1xuICAjaG9tZXBhZ2UtZmVhdHVyZWQgLnRvcC1zdG9yeSxcbiAgI2hvbWVwYWdlLWZlYXR1cmVkIC5zdWItc3RvcmllcyB7XG4gICAgY2xlYXI6IGJvdGg7XG4gICAgd2lkdGg6IDEwMCU7XG4gICAgcGFkZGluZzogMTBweDtcbiAgICBtYXJnaW46IDA7XG4gIH1cbiAgI2hvbWVwYWdlLWZlYXR1cmVkIC5zdWItc3RvcmllcyB7XG4gICAgYm9yZGVyLXRvcDogMXB4IHNvbGlkIEBncmF5TGlnaHRlcjtcbiAgfVxufVxuIl19 */