.global-nav,
#page,
#site-footer {
	max-width: @containerMaxWidth;
	padding: 0 5%;
}
#page {
	padding-bottom:@baseline;
}
#main {
	margin: @baseline 0;
}

/****************** LEFT NAV ******************/

// Fluid Grid
#grid > .fluid(@fluidGridColumnWidth, @fluidGridGutterWidth);

