// --------------------------------------------
// POST/PAGE ELEMENTS
// --------------------------------------------

.post-header,
.page-header,
.entry-content,
.post-footer,
article.story {
  margin-bottom: @baseline;
}
.post-header,
.page-header,
article.story {
  border-bottom: 1px solid @grayLighter;
}
article.story {
  padding-bottom: @baseline / 2;
}

// --------------------------------------------
// SINGLE POSTS
// --------------------------------------------

.byline {
  margin-bottom: @baseline / 2;
  font-weight: normal;
  font-size: @baseFontSize * 0.815;
  a {
    color: @textColor;
  }
  .author,
  .time-ago,
  .edit-link a {
    text-transform: uppercase;
  }
  .author {
    font-weight: bold;
  }
  .time-ago,
  .edit-link a {
    color: @red;
  }
}
.post-social {
  min-height: 28px;
  height: auto;
  margin-bottom: @baseline;
  border-top: 1px solid @grayLighter;
  border-bottom: 1px solid @grayLighter;
  .right,
  .left {
    margin: 0;
    height: auto;
  }
  .left {
    padding: 6px 0 0;
  }
  .right {
    padding: 1px 0 0;
  }
  span {
    position: relative;
  }
  span.twitter {
    margin-right: 8px;
  }
  span.print {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    top: 1px;
    i.icon-print {
	  font-size: @baseFontSize + 2;
	  margin: 0 -3px 0 2px;
	  position: relative;
	  top: 2px;
    }
    &:hover {
      .opacity(85);
    }
    a {
      color: black;
      &:hover {
        text-decoration: none;
	  }
    }
  }
}
// POST PAGINATION
.post-pagination {
  a, span {
    padding: 5px;
    font-family: @sansFontFamily;
    text-transform: uppercase;
    font-size: @baseFontSize * 0.815;
    &:first-child {
	  padding-left: 0;
    }
  }
}

// POST META
.labels,
.tags,
.pager,
#related-posts {
  clear: both;
  margin: 0 0 @baseline;
  width: 100%;
  h5 {
    font-size: @baseFontSize * 1.2;
    margin-bottom: @baseline / 4;
  }
}
.tags,
.pager {
  list-style: none;
  font-size: @baseFontSize;
  font-family: @sansFontFamily;
}
.single-post .author-box,
.single-argolinkroundups .author-box,
.labels {
  h5 {
    font-size: @baseFontSize * 1.2;
    line-height: 1;
    margin-bottom: 0;
  }
}
h3.recent-posts,
.labels .series-label h5 {
  a.rss-link {
    float:right;
    margin-top: 4px;
    color: #f89406;
    font-size: @baseFontSize + 2;
    &:hover {
      .opacity(85);
    }
  }
}

// LABELS
.labels .series-label {
  margin: 5px;
  padding: 8px;
  h5 {
    background: none;
    padding: 0;
    margin-bottom: 2px;
  }
  p {
    font-size: @baseFontSize * 0.815;
    margin-bottom: 0;
  }
}

// TAGS
.tags {
  height: 100%;
  overflow: auto;
  margin-bottom: @baseline / 2;
  ul {
    padding: 0;
    margin: 0;
    font-size: @baseFontSize - 3;
	li {
	  display: inline;
	  letter-spacing: 1px;
	  margin: 0 8px 8px 0;
	  vertical-align: baseline;
	  font-weight: 300;
	  white-space: nowrap;
	  float: left;
	  background-color: @baseColor;
	  padding: 4px 8px 4px 5px;
	  .border-radius(3px);
	  &:hover {
	    background-color: darken(@baseColor, 10%);
	  }
	  i {
		margin: 1px 3px 0 0;
	  }
	  a {
		color: @white;
		&:hover {
		  text-decoration: none;
		}
	  }
	}
  }
}

// NEXT - PREV NAVIGATION
.pager {
  line-height: 1.2;
  h5 {
    margin-bottom: 0;
  }
  a {
    display: inline-block;
    padding: 10px 15px;
    color: @textColor;
    background-color: darken(@postBoxBackgroundColor, 10%);
    .border-radius(5px);
    &:hover {
  	  background-color: darken(@postBoxBackgroundColor, 35%);
  	  color: @white;
  	  text-decoration: none;
    }
  }
}
.next {
  width: 48%;
  float: right;
  text-align: right;
}
.previous {
  width: 48%;
  float: left;
  text-align: left;
}

// RELATED POSTS
#related-posts {
}
#related-post-nav {
  padding: 8px 0;
  font-family: @sansFontFamily;
  li {
    list-style-type: none;
    margin-bottom: 0;
    font-size: @baseFontSize - 2;
    &:last-child a {
      border-bottom: 1px solid @grayLight;
    }
  }
  h5 {
    margin: 0 0 5px 0;
  }
  a {
    display: block;
    padding: 6px;
    font-weight: normal;
    text-decoration: none;
    border-top: 1px solid @grayLight;
    outline: none;
    &:hover {
      background-color: @grayLighter;
    }
    &.selected {
      color: @white;
      background: @baseColor;
      border: none;
      letter-spacing: 1px;
	}
  }
}
#related-posts .related-items {
  div {
    display:none;
    padding: 0 2.5%;
    img {
      float: left;
      margin: 0 10px 10px 0;
    }
  }
  ul {
    margin: 5px 0;
    li {
      list-style: disc;
      margin-left: 15px;
      margin-bottom: 0;
      font-size: @baseFontSize * 0.815;
      &.top-related {
        list-style: none;
        margin-left: 0;
        border-bottom: 1px solid @grayLighter;
        margin-bottom: @baseline / 2;
        font-size: @baseFontSize * 0.5;
        h3 {
          font-size: @baseFontSize * 1.222;
          font-weight: bold;
          margin-bottom: @baseline / 4;
        }
        p {
          font-family: @baseFontFamily;
          font-size: @baseFontSize * 0.667;
          margin-bottom: @baseline / 2;
        }
      }
    }
  }
  p {
    font-family: @sansFontFamily;
    font-size: @baseFontSize * 0.815;
    margin-bottom: @baseline / 4;
  }
}

// AUTHOR BOX
.author-box {
  clear: both;
  margin-bottom: @baseline;
  h1, h3 {
    font-size: @baseFontSize * 2;
    margin-bottom: @baseline/5;
  }
  img.avatar {
    float:left;
    margin: 0 20px 0 0;
    padding:4px;
    border: 1px solid @grayLighter;
  }
  p {
    font-size: @baseFontSize * 0.815;
    margin-bottom: @baseline/3;
  }
  ul {
    list-style:none;
    margin: 0;
    li {
	  display: inline;
	  float: left;
	  margin-right: 8px;
	  &.facebook {
	    position: relative;
	    top: -4px;
	  }
	  &.gplus,
	  &.linkedin,
	  &.email {
	    position: relative;
		top: -5px;
		width: 24px;
	    i {
          color: @white;
	      padding: 4px;
	      font-size: 10px;
	      background-color: @red;
	      .border-radius(3px);
	      &:hover {
		    background-color: darken(@red, 10%);
	      }
	    }
	    i.icon-mail {
	      font-size: 22px;
	      padding: 0;
	      background-color: @white;
	      color: @black;
	      position: relative;
	      top: 4px;
	      &:hover {
		    .opacity(80);
	      }
	    }
	    i.icon-gplus {
		  margin-left: -5px;
	    }
	    i.icon-linkedin {
		  background-color: @blue;
		  margin-left: -13px;
		  &:hover {
		    background-color: darken(@blue, 10%);
	      }
	    }
	  }
    }
  }
  iframe { margin: 0; }
}
.single-post .author-box,
.single-argolinkroundups .author-box {
  h5 span.author-posts-link {
    float: right;
    text-align: right;
    font-size: @baseFontSize * 0.667;
	padding-top: 4px;
  }
  img {
	margin: 10px 20px 10px 10px;
  }
  p, ul {
    margin: 10px;
  }
  .gplus img {
    margin: 0;
  }
}

// --------------------------------------------
// Post Page Content Modules
// --------------------------------------------

.module {
  margin-bottom: @baseline/2;
  color: @black;
  h3 {
    font-size: @baseFontSize;
    margin-bottom: @baseline/2;
    font-weight: bold;
  }
  dl {
    margin: 0;
  }
  dt, dd {
    font-size: @baseFontSize * 0.815;
    margin: 0 0 @baseline/2;
  }
}
.type-aside p {
  font-size: 0.815em;
}
/* deprecated image type? */
.image p {
  display: inline;
  font-size: 10px;
}
.image img {
  display: block;
}
p.wp-media-credit {
  font-size: @baseFontSize * 0.667 !important;
  margin: 0;
  text-align: right;
  color: @gray;
  display: block;
}
p.wp-caption-text {
  font-size: @baseFontSize * 0.815 !important;
  margin: 5px 0 0;
  color: @gray;
  font-style: italic;
  line-height: 1.5;
  display: block;
}
.half,
.full,
.extract {
  margin: 0 0 @baseline;
}
.half {
  width: 40%;
}
.full {
  width: 100%;
}
.full-image {
  text-align: center;
  background-color: @grayLighter;
}
.pull-quote,
.type-pull-quote {
  border-left: 4px solid @grayDark;
  padding-left: 20px;
  font: @serifFontFamily;
  font-style: italic;
  font-size: @baseFontSize * 1.5;
  line-height: 1.3;
  h6 {
    font-size: @baseFontSize;
    margin: 0;
    text-transform: none;
  }
  p {
    font-size: @baseFontSize * 1.5;
    margin-bottom: @baseline/4;
  }
}
.DV-container {
	margin-bottom: @baseline/3;
}

// --------------------------------------------
// INDEX.PHP
// --------------------------------------------

.stories article {
  border-bottom: 1px dotted @grayLight;
  margin-bottom: @baseline/2;
}
.stories article[class*="span"] {
  margin-left: 0;
}
.stories h2.entry-title {
  font-size: @baseFontSize * 2;
  margin-bottom: @baseline/3;
  line-height: 1.1;
}
.stories .entry-content p {
  font-size: @baseFontSize;
  margin-bottom: @baseline / 2;
}
.stories h5.tag-list {
  font-size: @baseFontSize * 0.815;
  font-family: @sansFontFamily;
  font-weight:normal;
  line-height: 1.5;
  margin-bottom: 0;
}

.rss-subscribe-link {
  float: right;
  text-transform: uppercase;
}

// Snippets of reusable CSS to develop faster and keep code readable
// -----------------------------------------------------------------

// Webkit-style focus
// ------------------
.tab-focus() {
  // Default
  outline: thin dotted #333;
  // Webkit
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

// Center-align a block level element
// ----------------------------------
.center-block() {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

// IE7 inline-block
// ----------------
.ie7-inline-block() {
  *display: inline; /* IE7 inline-block hack */
  *zoom: 1;
}

// IE7 likes to collapse whitespace on either side of the inline-block elements.
// Ems because we're attempting to match the width of a space character. Left
// version is for form buttons, which typically come after other elements, and
// right version is for icons, which come before. Applying both is ok, but it will
// mean that space between those elements will be .6em (~2 space characters) in IE7,
// instead of the 1 space in other browsers.
.ie7-restore-left-whitespace() {
  *margin-left: .3em;

  &:first-child {
    *margin-left: 0;
  }
}

.ie7-restore-right-whitespace() {
  *margin-right: .3em;

  &:last-child {
    *margin-left: 0;
  }
}

// Sizing shortcuts
// -------------------------
.size(@height, @width) {
  width: @width;
  height: @height;
}
.square(@size) {
  .size(@size, @size);
}

// Placeholder text
// -------------------------
.placeholder(@color: @placeholderText) {
  &:-moz-placeholder {
    color: @color;
  }
  &:-ms-input-placeholder {
    color: @color;
  }
  &::-webkit-input-placeholder {
    color: @color;
  }
}

// Text overflow
// -------------------------
// Requires inline-block or block for proper styling
.text-overflow() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// FONTS
// --------------------------------------------------

#font {
  #family {
    .serif() {
      font-family: @serifFontFamily;
    }
    .sans-serif() {
      font-family: @sansFontFamily;
    }
    .monospace() {
      font-family: @monoFontFamily;
    }
  }
  .shorthand(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
    font-size: @size;
    font-weight: @weight;
    line-height: @lineHeight;
  }
  .serif(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
    #font > #family > .serif;
    #font > .shorthand(@size, @weight, @lineHeight);
  }
  .sans-serif(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
    #font > #family > .sans-serif;
    #font > .shorthand(@size, @weight, @lineHeight);
  }
  .monospace(@size: @baseFontSize, @weight: normal, @lineHeight: @baseLineHeight) {
    #font > #family > .monospace;
    #font > .shorthand(@size, @weight, @lineHeight);
  }
}


// FORMS
// --------------------------------------------------

// Mixin for form field states
.formFieldState(@textColor: #555, @borderColor: #ccc, @backgroundColor: #f5f5f5) {
  // Set the text color
  > label,
  .help-block,
  .help-inline {
    color: @textColor;
  }
  // Style inputs accordingly
  .checkbox,
  .radio,
  input,
  select,
  textarea {
    color: @textColor;
    border-color: @borderColor;
    &:focus {
      border-color: darken(@borderColor, 10%);
      .box-shadow(0 0 6px lighten(@borderColor, 20%));
    }
  }
  // Give a small background color for input-prepend/-append
  .input-prepend .add-on,
  .input-append .add-on {
    color: @textColor;
    background-color: @backgroundColor;
    border-color: @textColor;
  }
}



// CSS3 PROPERTIES
// --------------------------------------------------

// Border Radius
.border-radius(@radius) {
  -webkit-border-radius: @radius;
     -moz-border-radius: @radius;
          border-radius: @radius;
}

// Drop shadows
.box-shadow(@shadow) {
  -webkit-box-shadow: @shadow;
     -moz-box-shadow: @shadow;
          box-shadow: @shadow;
}

// Transitions
.transition(@transition) {
  -webkit-transition: @transition;
     -moz-transition: @transition;
      -ms-transition: @transition;
       -o-transition: @transition;
          transition: @transition;
}

// Transformations
.rotate(@degrees) {
  -webkit-transform: rotate(@degrees);
     -moz-transform: rotate(@degrees);
      -ms-transform: rotate(@degrees);
       -o-transform: rotate(@degrees);
          transform: rotate(@degrees);
}
.scale(@ratio) {
  -webkit-transform: scale(@ratio);
     -moz-transform: scale(@ratio);
      -ms-transform: scale(@ratio);
       -o-transform: scale(@ratio);
          transform: scale(@ratio);
}
.translate(@x, @y) {
  -webkit-transform: translate(@x, @y);
     -moz-transform: translate(@x, @y);
      -ms-transform: translate(@x, @y);
       -o-transform: translate(@x, @y);
          transform: translate(@x, @y);
}
.skew(@x, @y) {
  -webkit-transform: skew(@x, @y);
     -moz-transform: skew(@x, @y);
      -ms-transform: skew(@x, @y);
       -o-transform: skew(@x, @y);
          transform: skew(@x, @y);
}
.translate3d(@x, @y, @z) {
  -webkit-transform: translate(@x, @y, @z);
     -moz-transform: translate(@x, @y, @z);
      -ms-transform: translate(@x, @y, @z);
       -o-transform: translate(@x, @y, @z);
          transform: translate(@x, @y, @z);
}

// Backface visibility
// Prevent browsers from flickering when using CSS 3D transforms.
// Default value is `visible`, but can be changed to `hidden
// See git pull https://github.com/dannykeane/bootstrap.git backface-visibility for examples
.backface-visibility(@visibility){
  -webkit-backface-visibility: @visibility;
     -moz-backface-visibility: @visibility;
      -ms-backface-visibility: @visibility;
          backface-visibility: @visibility;
}

// Background clipping
// Heads up: FF 3.6 and under need "padding" instead of "padding-box"
.background-clip(@clip) {
  -webkit-background-clip: @clip;
     -moz-background-clip: @clip;
          background-clip: @clip;
}

// Background sizing
.background-size(@size){
  -webkit-background-size: @size;
     -moz-background-size: @size;
       -o-background-size: @size;
          background-size: @size;
}


// Box sizing
.box-sizing(@boxmodel) {
  -webkit-box-sizing: @boxmodel;
     -moz-box-sizing: @boxmodel;
      -ms-box-sizing: @boxmodel;
          box-sizing: @boxmodel;
}

// User select
// For selecting text on the page
.user-select(@select) {
  -webkit-user-select: @select;
     -moz-user-select: @select;
      -ms-user-select: @select;
       -o-user-select: @select;
          user-select: @select;
}

// Resize anything
.resizable(@direction) {
  resize: @direction; // Options: horizontal, vertical, both
  overflow: auto; // Safari fix
}

// CSS3 Content Columns
.content-columns(@columnCount, @columnGap: @gridGutterWidth) {
  -webkit-column-count: @columnCount;
     -moz-column-count: @columnCount;
          column-count: @columnCount;
  -webkit-column-gap: @columnGap;
     -moz-column-gap: @columnGap;
          column-gap: @columnGap;
}

// Optional hyphenation
.hyphens(@mode: auto) {
  word-wrap: break-word;
  -webkit-hyphens: @mode;
     -moz-hyphens: @mode;
      -ms-hyphens: @mode;
       -o-hyphens: @mode;
          hyphens: @mode;
}

// Opacity
.opacity(@opacity) {
  opacity: @opacity / 100;
  filter: ~"alpha(opacity=@{opacity})";
}



// BACKGROUNDS
// --------------------------------------------------

// Add an alphatransparency value to any background or border color (via Elyse Holladay)
#translucent {
  .background(@color: @white, @alpha: 1) {
    background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
  }
  .border(@color: @white, @alpha: 1) {
    border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
    .background-clip(padding-box);
  }
}

// Gradient Bar Colors for buttons and alerts
.gradientBar(@primaryColor, @secondaryColor) {
  #gradient > .vertical(@primaryColor, @secondaryColor);
  border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
  border-color: rgba(0,0,0,.1) rgba(0,0,0,.1) fadein(rgba(0,0,0,.1), 15%);
}

// Gradients
#gradient {
  .horizontal(@startColor: #555, @endColor: #333) {
    background-color: @endColor;
    background-image: -moz-linear-gradient(left, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(left, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(left, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(left, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(left, @startColor, @endColor); // Le standard
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",@startColor,@endColor)); // IE9 and down
  }
  .vertical(@startColor: #555, @endColor: #333) {
    background-color: mix(@startColor, @endColor, 60%);
    background-image: -moz-linear-gradient(top, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(top, @startColor, @endColor); // IE10
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor)); // Safari 4+, Chrome 2+
    background-image: -webkit-linear-gradient(top, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(top, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(top, @startColor, @endColor); // The standard
    background-repeat: repeat-x;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down
  }
  .directional(@startColor: #555, @endColor: #333, @deg: 45deg) {
    background-color: @endColor;
    background-repeat: repeat-x;
    background-image: -moz-linear-gradient(@deg, @startColor, @endColor); // FF 3.6+
    background-image: -ms-linear-gradient(@deg, @startColor, @endColor); // IE10
    background-image: -webkit-linear-gradient(@deg, @startColor, @endColor); // Safari 5.1+, Chrome 10+
    background-image: -o-linear-gradient(@deg, @startColor, @endColor); // Opera 11.10
    background-image: linear-gradient(@deg, @startColor, @endColor); // The standard
  }
  .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
    background-color: mix(@midColor, @endColor, 80%);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
    background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
    background-image: -ms-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
    background-repeat: no-repeat;
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",@startColor,@endColor)); // IE9 and down, gets no color-stop at all for proper fallback
  }
  .radial(@innerColor: #555, @outerColor: #333)  {
    background-color: @outerColor;
    background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
    background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -ms-radial-gradient(circle, @innerColor, @outerColor);
    background-image: -o-radial-gradient(circle, @innerColor, @outerColor);
    background-repeat: no-repeat;
  }
  .striped(@color, @angle: -45deg) {
    background-color: @color;
    background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
    background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -ms-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
  }
}
// Reset filters for IE
.reset-filter() {
  filter: e(%("progid:DXImageTransform.Microsoft.gradient(enabled = false)"));
}



// COMPONENT MIXINS
// --------------------------------------------------

// Horizontal dividers
// -------------------------
// Dividers (basically an hr) within dropdowns and nav lists
.nav-divider(@top: #e5e5e5, @bottom: @white) {
  // IE7 needs a set width since we gave a height. Restricting just
  // to IE7 to keep the 1px left/right space in other browsers.
  // It is unclear where IE is getting the extra space that we need
  // to negative-margin away, but so it goes.
  *width: 100%;
  height: 1px;
  margin: ((@baseLineHeight / 2) - 1) 1px; // 8px 1px
  *margin: -5px 0 5px;
  overflow: hidden;
  background-color: @top;
  border-bottom: 1px solid @bottom;
}

// Button backgrounds
// ------------------
.buttonBackground(@startColor, @endColor) {
  // gradientBar will set the background to a pleasing blend of these, to support IE<=9
  .gradientBar(@startColor, @endColor);
  *background-color: @endColor; /* Darken IE7 buttons by default so they stand out more given they won't have borders */
  .reset-filter();

  // in these cases the gradient won't cover the background, so we override
  &:hover, &:active, &.active, &.disabled, &[disabled] {
    background-color: @endColor;
    *background-color: darken(@endColor, 5%);
  }

  // IE 7 + 8 can't handle box-shadow to show active, so we darken a bit ourselves
  &:active,
  &.active {
    background-color: darken(@endColor, 10%) e("\9");
  }
}

// Navbar vertical align
// -------------------------
// Vertically center elements in the navbar.
// Example: an element has a height of 30px, so write out `.navbarVerticalAlign(30px);` to calculate the appropriate top margin.
.navbarVerticalAlign(@elementHeight) {
  margin-top: (@navbarHeight - @elementHeight) / 2;
}

// Popover arrows
// -------------------------
// For tipsies and popovers
#popoverArrow {
  .top(@arrowWidth: 5px, @color: @black) {
    bottom: 0;
    left: 50%;
    margin-left: -@arrowWidth;
    border-left: @arrowWidth solid transparent;
    border-right: @arrowWidth solid transparent;
    border-top: @arrowWidth solid @color;
  }
  .left(@arrowWidth: 5px, @color: @black) {
    top: 50%;
    right: 0;
    margin-top: -@arrowWidth;
    border-top: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid transparent;
    border-left: @arrowWidth solid @color;
  }
  .bottom(@arrowWidth: 5px, @color: @black) {
    top: 0;
    left: 50%;
    margin-left: -@arrowWidth;
    border-left: @arrowWidth solid transparent;
    border-right: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid @color;
  }
  .right(@arrowWidth: 5px, @color: @black) {
    top: 50%;
    left: 0;
    margin-top: -@arrowWidth;
    border-top: @arrowWidth solid transparent;
    border-bottom: @arrowWidth solid transparent;
    border-right: @arrowWidth solid @color;
  }
}

// Grid System
// -----------

// Centered container element
.container-fixed() {
  margin-right: auto;
  margin-left: auto;
  .clearfix();
}

// Table columns
.tableColumns(@columnSpan: 1) {
  float: none; // undo default grid column styles
  width: ((@fluidGridColumnWidth) * @columnSpan) + (@fluidGridGutterWidth * (@columnSpan - 1)) - 16; // 16 is total padding on left and right of table cells
  margin-left: 0; // undo default grid column styles
}

// Make a Grid
// Use .makeRow and .makeColumn to assign semantic layouts grid system behavior
.makeRow() {
  margin-left: @gridGutterWidth * -1;
  .clearfix();
}
.makeColumn(@columns: 1, @offset: 0) {
  float: left;
  margin-left: (@gridColumnWidth * @offset) + (@gridGutterWidth * (@offset - 1)) + (@gridGutterWidth * 2);
  width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
}

// The Grid
#grid {

  .core (@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      .span@{index} { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .offsetX (@index) when (@index > 0) {
      .offset@{index} { .offset(@index); }
      .offsetX(@index - 1);
    }
    .offsetX (0) {}

    .offset (@columns) {
      margin-left: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns + 1));
    }

    .span (@columns) {
      width: (@gridColumnWidth * @columns) + (@gridGutterWidth * (@columns - 1));
    }

    .row {
      margin-left: @gridGutterWidth * -1;
      .clearfix();
    }

    [class*="span"] {
      float: left;
      margin-left: @gridGutterWidth;
    }

    // Set the container width, and override it for fixed navbars in media queries
    .container,
    .navbar-fixed-top .container,
    .navbar-fixed-bottom .container { .span(@gridColumns); }

    // generate .spanX and .offsetX
    .spanX (@gridColumns);
    .offsetX (@gridColumns);

  }

  .fluid (@fluidGridColumnWidth, @fluidGridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      .span@{index} { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .span (@columns) {
      width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1));
      *width: (@fluidGridColumnWidth * @columns) + (@fluidGridGutterWidth * (@columns - 1)) - (.5 / @gridRowWidth * 100 * 1%);
    }

    .row-fluid {
      width: 100%;
      .clearfix();
      [class*="span"] {
        .input-block-level();
        float: left;
        margin-left: @fluidGridGutterWidth;
        *margin-left: @fluidGridGutterWidth - (.5 / @gridRowWidth * 100 * 1%);
      }
      [class*="span"]:first-child {
        margin-left: 0;
      }

      // generate .spanX
      .spanX (@gridColumns);
    }

  }

  .input(@gridColumnWidth, @gridGutterWidth) {

    .spanX (@index) when (@index > 0) {
      input.span@{index}, textarea.span@{index}, .uneditable-input.span@{index} { .span(@index); }
      .spanX(@index - 1);
    }
    .spanX (0) {}

    .span(@columns) {
      width: ((@gridColumnWidth) * @columns) + (@gridGutterWidth * (@columns - 1)) - 10;
    }

    input,
    textarea,
    .uneditable-input {
      margin-left: 0; // override margin-left from core grid system
    }

    // generate .spanX
    .spanX (@gridColumns);

  }

}

.darkLight (@a) when (lightness(@a) >= 50%) {
  color: @grayDarker;
}
.darkLight (@a) when (lightness(@a) < 50%) {
  color: @white;
}

// --------------------------------------------
// HOMEPAGE
// --------------------------------------------

#left-rail {
  float: left;
  margin-left: 0;
}
#content-main {
  float: right;
}
.stories article.sticky {
  margin-bottom: @baseline;
  border-bottom: none;
}
.sticky-related,
.sticky-solo {
  background-color: @baseColor;
  border: 1px solid darken(@baseColor, 5%);
  .border-radius(8px);
   a {
     color: darken(@baseColor, 15%);
     &:hover {
	   .opacity(90);
	   text-decoration: none;
     }
   }
}
.sticky-main-feature {
  .image-wrap {
    float: left;
    margin: 15px 15px 0;
    min-height: 150px;
    h4 {
      background-color: @black;
      color: @white;
      padding: 2px 5px;
      width: 130px;
      .opacity (80);
      display: block;
      position: relative;
      z-index: 10;
    }
    img {
      float: left;
      display: block;
      position: relative;
      top: -20px;
      z-index: 1;
      max-width: 100%;
      margin: 0;
    }
  }
  h4 {
    font-size: @baseFontSize * 0.815;
    color: @grayLighter;
    margin-bottom:0;
    &.no-image {
      margin: 2px 0 0 15px;
      position: relative;
      top: 8px;
    }
  }
  h2 {
    font-size: @baseFontSize * 1.5;
    margin: 10px 15px 4px;
    line-height: 1;
    a {
      color: @white;
    }
  }
  p {
    color: @white;
    font-size: @baseFontSize - 4;
    margin: 0 15px 10px;
    a {
      color: @white;
      font-weight: bold;
      white-space: nowrap;
	}
  }
}
.sticky-features-list {
  padding: 10px;
  ul {
    margin: 0;
    padding: 10px;
    list-style: none;
    background-color: lighten(@baseColor, 25%);
    .border-radius(4px);
    li {
      h4 {
        color: @grayDark;
        font-size: @baseFontSize - 7;
        text-transform: uppercase;
        margin-bottom: 5px;
        span {
          font-size: @baseFontSize - 4 ;
        }
	  }
	  font-size: @baseFontSize - 2;
	  margin-bottom: 7px;
	  line-height: 1.2;
	  &.sticky-all {
	    font-weight: bold;
	    font-size: @baseFontSize * 0.667;
      }
    }
  }
}
.home .stories article img.attachment-medium,
.sub-stories img.attachment-post-thumbnail {
  max-width: 30%;
  float: right;
  margin: 0 0 10px 20px;
}
h5.top-tag {
  font-size: @baseFontSize;
  margin-bottom: @baseline/5;
  text-transform: uppercase;
  a {
    color: @grayLight;
  }
}
#homepage-bottom {
  margin-top: 24px;
  .widgettitle {
    margin: 0 0 8px;
    padding: 0 0 5px;
    font-size: @baseFontSize * 0.815;
    background: none;
    color: @grayDark;
    border: none;
    border-bottom: 1px solid @grayLighter;
    a,
    a:hover {
	  color: @grayDark;
    }
  }
  h5 {
    font-size: @baseFontSize + 2;
    margin-bottom: 5px;
  }
  img {
    max-width: 35%;
    &.attachment-large {
      max-width: 100%;
    }
  }
  p {
    font-size: @baseFontSize * 0.815;
  }
  ul {
    margin:0;
    font-family: @sansFontFamily;
    font-size: @baseFontSize;
    font-weight: bold;
    li {
      list-style: none;
    }
  }
}
#homepage-bottom .widget {
  width: 42.5%;
  padding: 2.5%;
}
#homepage-bottom .rev .widgettitle {
  color: @white;
}
#homepage-bottom .widget.odd {
  float: left;
  clear: both;
  margin-left: 0;
}
#homepage-bottom .widget.even {
  float: right;
  clear: none;
}

// --------------------------------------------
// Archive Pages
// --------------------------------------------

// Category, Tag and Taxonomy Pages
.archive-background {
  margin-bottom: @baseline;
  h1 {
    font-size: @baseFontSize * 2.75;
    margin-bottom: 3px;
  }
  p {
    font-size: @baseFontSize * 0.815;
    margin-bottom: @baseline/3;
  }
  .related-topics {
    font-family: @sansFontFamily;
	h5 {
	  display: inline;
	  float: left;
	  font-size: @baseFontSize * 0.815;
	  margin: 0 5px 0 0;
	  line-height: 1.3;
    }
	ul {
	  font-size: @baseFontSize * 0.815;
	  float: left;
	  list-style: none;
	  margin: 1px 0 0;
	  line-height: 1.3;
	  li {
	    display: inline;
	    margin: 0;
	    padding: 0;
	    &:after {
	      content: ", ";
	    }
	    &:last-child:after {
	      content: "";
	    }
	  }
    }
  }
}
h3.recent-posts {
  padding: 2px 0;
  margin-bottom: @baseline * 0.815;
  border-bottom: 1px solid @grayLight;
  border-top: 3px solid @grayLight;
}
article img.attachment-post-thumbnail {
  float: right;
  max-width: 30%;
  margin: 0 0 10px 20px;
}

// Search Results
.search-results .form-search {
  margin-bottom: 16px;
}
.search-term {
  background-color: @grayLighter;
  padding: 1px 5px;
}
.search-results .stories article {
  padding-bottom: 12px;
}
.search-results .stories h2.entry-title {
  font-size: 20px;
  margin-bottom: 5px;
}
.search-results .stories .entry-content,
.search-results .stories .entry-content p {
  font-size: 14px;
  margin-bottom: 5px;
}
.search-results h5.byline {
  font-size: 12px;
  margin-bottom: 0;
}
// Date Archive
.archive-dropdown {
  margin-bottom: @baseline/2;
}
// Series Landings
#series-footer {
  clear: both;
}
#series-main #content {
  margin-bottom: @baseline;
}
#series-header .byline time,
#series-header .byline .clean-read,
#series-header .byline .sep {
  display: none;
}