@media (min-width: 1200px) {
  .global-nav,
  #page,
  #site-footer {
    margin: 0 auto;
    padding-left: 3%;
    padding-right: 3%;
  }
}
@media screen and (min-width: 1600px) {
  .global-nav,
  #page,
  #page-single,
  #site-footer {
    padding-left: 0;
    padding-right: 0;
  }
}
