@media (max-width: 767px) {
  #sidebar {
    clear: both;
    width: 100%;
  }
  #content {
    width: 100%;
  }
  .single #page,
  .single .global-nav {
    padding: 0 5%;
  }
  #left-nav {
    display: none !important;
  }
}
@media (max-width: 480px) {
  
}
