@media (max-width: 767px) {
  #sidebar {
    clear: both;
    width: 100%;
  }
  #content {
    width: 100%;
  }
  #page-single {
    padding: 5%;
  }
  #left-nav {
    display: none !important;
  }
}
@media (max-width: 480px) {
  
}
