// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 767px) {
	#sidebar,
	#site-footer .widget-area {
		clear:both;
		width:100%;
		margin-left:0;
		margin-right:0;
	}
	#site-footer .widget-area {
		margin-bottom:@baseline;
	}
	#content {
		width:100%;
	}
	#content .half,
	#content .full {
		clear:both;
		float:none;
		width:100%;
		margin: 0 0 @baseline;
	}
	#related-post-nav,
	#related-posts .related-items {
		float:none;
		width:100%;
		margin:0;
	}
	.global-nav ul {
		display:none;
	}
	.global-nav .nav-right {
	  width:100%;
	}
	.global-nav .nav-right .donate-btn {
	  float:left;
	  margin-left:0;
	}
	.global-nav .nav-right .org-logo {
		float:right;
	}
	#site-header h1.branding,
	#site-header h2.branding {
		font-size: @baseFontSize * 3.375;
		span {
		  display:block;
		  clear:both;
		  margin: 6px 0 4px;
		  padding:0;
		  font-size: @baseFontSize * 1.222;
		}
	}
	h1.entry-title {
		font-size: @baseFontSize * 2;
	}
	.stories h2.entry-title,
	.sticky-main-feature h2,
	.carousel-caption h2 {
		font-size: @baseFontSize * 1.5;
	}
	#homepage-featured .top-story,
	#homepage-featured .sub-stories {
	  clear:both;
	  width:100%;
	  padding:10px;
	  margin:0;
	}
	#homepage-featured .sub-stories {
	  border-top: 1px solid @grayLighter;
	}
	.sticky-main-feature,
	.sticky-features-list {
		clear:both;
		width:100% !important;
		margin:0 !important;
	}
	#menu-footer-navigation li {
		font-size:@baseFontSize + 2;
		padding:8px 0;
	}
	.carousel-caption {
      position: static;
    }

}

// UP TO LANDSCAPE PHONE
// ---------------------
@media (max-width: 480px) {

	.global-nav-bg {
		height:38px;
	}
	.global-nav {
		height:38px;
		padding-top:2px;
	}
	.global-nav .org-logo {
		display:none;
	}
	.donate-btn {
	  font-size:@baseFontSize;
	  line-height: 28px;
	  a {
	  	padding:5px 8px 5px 5px;
	  }
	  i {
        margin-top:2px;
	  }
	}
	#header-search {
	  float:right;
	  margin: 3px 0 0 0;
	}
	#header-search input {
	  font-size:@baseFontSize;
	  padding:2px 4px 2px;
	  line-height: 1;
	  height:23px;
	  overflow:visible;
	}
	#header-search button {
	  height:29px;
	}
	#header-search .input-medium {
	  width:110px;
	}
	#site-header img {
	  margin-top:5px;
	}
	#site-header h1.branding,
	#site-header h2.branding {
	  margin-top:10px;
	  font-size: @baseFontSize*3;
	  text-align:center;
	  span {
		  font-size:@baseFontSize;
	  }
	}
	.post-social .print {
	  display:none;
	}
}

