// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 769px) and (max-width: 979px) {
  .global-nav,
  #page,
  #site-footer,
  #footer-logos {
    padding: 0 18px;
  }
  #main {
    margin: 12px 0 0;
  }
  h1.branding,
  h2.branding {
    font-size: @baseFontSize * 2.75;
    span {
      font-size: @baseFontSize * 1.222;
    }
  }
  #footer-logos,
  #footer-logos .logo4 {
    clear:both;
  }
  #footer-logos a {
    width: 33.3333333333%;
  }
  #homepage-bottom .widget {
    clear: both;
    float: none;
    width: 100%;
    margin: 0 0 @baseline;
  }
  #series-main #sidebar-left {
    display: none;
  }
  #series-main #content {
    width: 62.5%;
    float: left;
  }
  #series-main #sidebar {
    float: right;
  }
}
