@import "../../less/inc/mixins.less";
@import "inc/home-shared.less";

#dark-top {
  &.overlay {
    margin-top: 0;
    position: absolute;
    bottom: 50px;
  }
}

#home-secondary {
  position: relative;
  > div {
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
    margin-top: -15px;
  }
  .row-fluid>[class*='span'] {
    .widget {
      .border-radius(0);
      border: none;
    }
    &:last-child .widget {
      border-right: none;
    }
  }
}

#home-river {
  display: none;
  header {
    *zoom: 1;
	&:before,
	&:after {
      display: table;
      content: "";
    }
    &:after {
      clear: both;
    }
  }
  .hero {
    text-align: center;
    background-color: #eee;
  }
  .span10 {
    margin: 0 auto;
    float: none;
    position: relative;
    &:before {
      height: 25px;
      background-color: white;
      position: absolute;
      top: -25px;
      left: -4%;
      right: -4%;
      content: " ";
    }
  }
}

@media screen and (max-width: 980px) {
  #dark-top.overlay {
    bottom: 15px;
  }
}

@media screen and (max-width: 768px) {
  #dark-top {
    position: relative !important;
    margin-top: -140px !important;
    bottom: auto !important;
    .span10 {
      width: 100%;
    }
    .row-fluid [class*='span'] {
      float: none;
      width: 100%;
      margin: 0 0 0 0;
    }
    .span4 {
      margin-top: 30px !important;
    }
    .related-story {
      margin-left: 0;
    }
  }
  #home-secondary {
    .row-fluid>[class*='span'] {
      float: none;
      width: 100%;
      margin-left: 0;
    }
  }
}

@media screen and (max-width: 480px) {
  .home .full-hero {
    min-height: 50px;
  }
  #dark-top {
    margin-top: -40px !important;
    .span10 {
      padding: 15px 18px !important;
    }
  }
}
