@import "../../less/inc/mixins.less";
@import "inc/home-shared.less";

.home .full-hero {
  background-color: #eee;
  a {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1170px;
  }
  img { margin: 0; }
}

#dark-top {
  article {
    margin-top: 8px;
  }
  .overlay-pane {
    background-color: #333;
    &.span8 {
      background-image: -ms-linear-gradient(left, #333 0%, #333 50%, #FFF 50%, #FFF 100%);
      background-image: -moz-linear-gradient(left, #333 0%, #333 50%, #FFF 50%, #FFF 100%);
      background-image: -o-linear-gradient(left, #333 0%, 3333 50%, #FFF 50%, FFFF 100%);
      background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #333), color-stop(0.5, #333), color-stop(0.5, #FFF), color-stop(1, #FFF));
      background-image: -webkit-linear-gradient(left, #333 0%, #333 50%, #FFF 50%, #FFF 100%);
      background-image: linear-gradient(to right, #333 0%, #333 50%, #FFF 50%, #FFF 100%);
    }
    padding: 25px 0;
    [class*="span"] {
      padding: 0 20px;
    }
  }
  &.overlay {
    background-color: transparent;
    margin-top: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .overlay-pane {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
    section a {
      color: @sky;
    }
    .series-stories {
      margin-top: 20px;
      h3 {
        color: @sky;
        text-transform: uppercase;
        font-size: 100%;
        margin: 0;
        a {
          color: @sky;
        }
      }
      ul, li {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 90%;
        line-height: 1.1;
      }
      ul li {
        margin-top: 0.5em;
        padding-left: 1.5em;
      }
      ul a {
        color: white;
      }
      i {
        color: black;
        display: block;
        position: absolute;
        margin-left: -1.5em;
      }
    }
    .featured-stories {
      background-color: white;
      color: black;
      h5.byline, h5.top-tag, h4 {
        margin: 0;
      }
      h4 {
        font-size: 18px;
      }
      h4 a, section {
        color: black;
      }
      h5 {
        font-size: 80%;
      }
      h5.byline, h5.byline a {
        color: #444;
      }
      article {
        border-top: solid 3px rgba(red(@sky), green(@sky), blue(@sky), 0.5);
        padding: 10px 0;
        &:first-child {
          border-top: 0 none;
        }
      }
    }
  }
}

#home-secondary {
  position: relative;
  > div {
    background-color: white;
    padding: 20px;
    padding-bottom: 0;
  }
  .row-fluid>[class*='span'] {
    .widget {
      .border-radius(0);
      border: none;
    }
    &:last-child .widget {
      border-right: none;
    }
  }
}

#home-river {
  display: none;
  .span10 {
    margin: 0 auto;
    float: none;
  }
}

@media screen and (max-width: 900px) {
  #dark-top {
    h2 {
      font-size: 24px;
    }
    h5.top-tag, h5.byline, h3 {
      font-size: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .home .full-hero.one-third-width img,
  .home .full-hero.two-third-width img {
    width: 100%;
  }
  #dark-top {
    margin-top: -40px;
    .span10 {
      padding: 15px 18px !important;
    }
    &.overlay {
      position: relative;
      .overlay-pane {
        position: relative;
        width: 100%;
      }
    }
  }
  #view-format {
    h1, a {
      color: white;
    }
    li {
      border-right: 1px solid white;
    }
  }
}
