/**
 * Styles for the Largo Follow widget
 *
 * @since 0.5.3
 */
.subscribe {
  display: block;
  font-size: @baseFontSize - 2;
  font-family: @sansFontFamily;
  margin-bottom: @baseline / 4;
  color: @gray;
  &:hover {
  text-decoration: none;
  color: @grayDarker;
  }
  i {
    color: @white;
    padding: 0 1em 0 0.5em;
    border-right:1px solid @white;
    font-size: @baseFontSize - 3;
    margin-right: @baseline / 4;
    float: left;
  }
}

// These colors also used in .post-social in single.less
.largo-follow {
  .rss {
    background-color: @rss;
    color:@white;
    &:hover {
      background-color: darken(@rss, 5%);
    }
  }
  .twitter {
    background-color: @twitter;
    color: @white;
    &:hover {
      background-color: darken(@twitter, 5%);
    }
  }
  .facebook {
    background-color: @facebook;
    color: @white;
    &:hover {
      background-color: darken(@facebook, 5%);
    }
  }
  .linkedin {
    background-color: @linkedin;
    color: @white;
    &:hover {
      background-color: darken(@linkedin, 5%);
    }
  }
  .gplus {
    background-color: @gplus;
    color: @white;
    &:hover {
      background-color: darken(@gplus, 5%);
    }
  }
  .flickr {
    background-color: @flickr;
    color: @white;
    &:hover {
      background-color: darken(@flickr, 5%);
    }
  }
  .youtube {
    background-color: @youtube;
    color: @white;
    &:hover {
      background-color: darken(@youtube, 5%);
    }
  }
  .instagram {
    background-color: @instagram;
    color: @white;
    &:hover {
      background-color: darken(@instagram, 5%);
    }
  }
  .pinterest {
    background-color: @pinterest;
    color: @white;
    &:hover {
      background-color: darken(@pinterest, 5%);
    }
  }
  .tumblr {
    background-color: @tumblr;
    color: @white;
    &:hover {
      background-color: darken(@tumblr, 5%);
    }
  }
  .github {
    background-color: @github;
    color: @white;
    &:hover {
      background-color: darken(@github, 5%);
    }
  }
  .print {
    background-color: #85898F;
    color:#fff;
    &:hover {
      background-color: darken(#85898F, 5%);
    }
  }
  .email {
    background-color: #62656F;
    color:#fff;
    &:hover {
      background-color: darken(#62656F, 5%);
    }
  }
  .social-btn {
    line-height: 1.5em;
    margin: 0.5em 0; // left-align buttons
    padding: 0.66em;
  }
}

.article-bottom .largo-follow {
  padding: 0;
}