@import "inc/home-shared.less";

#dark-top {
  &.overlay {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    .overlay-pane {
      background-color: black;
      height: 100%;
      position: absolute;
      right: 0;
      .span6 {
        padding: 0 20px;
        article:first-child {
          position: relative;
          margin-top: 42px;
        }
      }
      .span6.featured-stories {
        background-color: white;
      }
    }
    a { color: @sky; }

    .series-stories {
      margin-top: 20px;
      h3 {
        color: @sky;
        text-transform: uppercase;
        font-size: 100%;
        margin: 0;
        a {
          color: @sky;
        }
      }
      ul, li {
        margin: 0;
        padding: 0;
        display: block;
        font-size: 90%;
        line-height: 1.1;
      }
      ul li {
        margin-top: 0.5em;
        padding-left: 1.5em;
      }
      ul a {
        color: white;
      }
      i {
        color: black;
        display: block;
        position: absolute;
        margin-left: -1.5em;
      }
    }

    .featured-stories {
      background-color: white;
      color: black;
      h5.byline, h5.top-tag, h4 {
        margin: 0;
      }
      h4 {
        font-size: 18px;
      }
      h4 a, section {
        color: black;
      }
      h5 {
        font-size: 80%;
      }
      h5.byline, h5.byline a {
        color: #444;
      }
      article {
        border-bottom: solid 3px rgba(red(@sky), green(@sky), blue(@sky), 0.5);
        margin: 0 0 20px 0;
        padding: 0 0 10px 0;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  #dark-top {
    &.overlay {
      .overlay-pane {
        display: table;
        div.row-fluid {
          height: 100%;
          display: table-row;
          [class*="span"] {
            height: 100%;
            display: table-cell;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  #dark-top {
    h2 {
      font-size: 24px;
    }
    h5.top-tag, h5.byline, h3 {
      font-size: 90%;
    }
  }
}

@media screen and (max-width: 768px) {
  .home .full-hero.one-third-width img,
  .home .full-hero.two-third-width img {
    width: 100%;
  }
  #dark-top {
    margin-top: -40px;
    .span10 {
      padding: 15px 18px !important;
    }
    &.overlay {
      float: left;
      position: relative;
      .overlay-pane {
        position: relative;
        width: 100%;
      }
    }
  }
  #view-format {
    h1, a {
      color: white;
    }
    li {
      border-right: 1px solid white;
    }
  }
}
