@charset "UTF-8";
/* line 8, hero-series-side.sass */
.home .full-hero {
  background-color: #666666;
}
/* line 10, hero-series-side.sass */
.home .full-hero img {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 16, hero-series-side.sass */
#main {
  position: relative;
}

/* line 19, hero-series-side.sass */
#view-format {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  z-index: 1;
}
/* line 26, hero-series-side.sass */
#view-format * {
  margin-bottom: 0;
}
/* line 28, hero-series-side.sass */
#view-format h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 32, hero-series-side.sass */
#view-format h1:after {
  content: ":";
}
/* line 34, hero-series-side.sass */
#view-format ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 12px;
}
/* line 39, hero-series-side.sass */
#view-format li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-right: 1px solid white;
  padding: 0 6px;
}
/* line 43, hero-series-side.sass */
#view-format li:last-child {
  border-right: 0;
}
/* line 45, hero-series-side.sass */
#view-format a {
  color: white;
  font-family: sans-serif;
}
/* line 48, hero-series-side.sass */
#view-format .active {
  font-weight: bold;
}
/* line 50, hero-series-side.sass */
.view-list #view-format {
  color: #666666;
  text-shadow: none;
}
/* line 53, hero-series-side.sass */
.view-list #view-format a {
  color: inherit;
}

/* line 56, hero-series-side.sass */
.home-top {
  position: relative;
}

/* line 59, hero-series-side.sass */
#dark-top {
  margin-top: -28px;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
/* line 66, hero-series-side.sass */
#dark-top .side-articles h5.byline, #dark-top .side-articles h5.top-tag, #dark-top .side-articles h4 {
  margin: 0;
}
/* line 68, hero-series-side.sass */
#dark-top .side-articles h4 {
  font-size: 18px;
}
/* line 70, hero-series-side.sass */
#dark-top .side-articles h4 a {
  color: white;
}
/* line 72, hero-series-side.sass */
#dark-top .side-articles h5 {
  font-size: 80%;
}
/* line 74, hero-series-side.sass */
#dark-top .side-articles h5.byline {
  color: #dddddd;
}
/* line 77, hero-series-side.sass */
#dark-top .side-articles article {
  border-top: solid 3px rgba(108, 185, 225, 0.5);
  padding: 10px 0;
}
/* line 81, hero-series-side.sass */
#dark-top .side-articles article:first-child {
  border-top: 0 none;
}
/* line 85, hero-series-side.sass */
#dark-top .side-series h3 {
  color: #6cb9e1;
  font-size: 100%;
  text-transform: uppercase;
  margin: 0;
}
/* line 91, hero-series-side.sass */
#dark-top .side-series h3 a {
  color: #6cb9e1;
}
/* line 93, hero-series-side.sass */
#dark-top .side-series h4 {
  font-size: 18px;
  margin: 0;
}
/* line 96, hero-series-side.sass */
#dark-top .side-series h4 a {
  color: white;
}
/* line 98, hero-series-side.sass */
#dark-top .side-series article {
  padding: 5px 0;
}
/* line 100, hero-series-side.sass */
#dark-top .side-series .read-more {
  text-align: right;
  font-size: 80%;
}
/* line 104, hero-series-side.sass */
#dark-top .side-series .read-more a {
  color: #6cb9e1;
}
@media only screen and (max-width: 768px) {
  /* line 59, hero-series-side.sass */
  #dark-top {
    position: relative;
    margin-top: -140px;
    bottom: auto;
  }
  /* line 111, hero-series-side.sass */
  #dark-top .span10 {
    width: 100%;
  }
  /* line 113, hero-series-side.sass */
  #dark-top .row-fluid [class*='span'] {
    float: none;
    width: 100%;
    margin: 0 0 0 0;
  }
  /* line 117, hero-series-side.sass */
  #dark-top .span4 {
    margin-top: 30px !important;
  }
}
@media only screen and (max-width: 480px) {
  /* line 59, hero-series-side.sass */
  #dark-top {
    margin-top: -40px;
  }
  /* line 121, hero-series-side.sass */
  #dark-top .span10 {
    padding: 15px 18px !important;
  }
}
/* line 124, hero-series-side.sass */
#dark-top .span10 {
  background-color: rgba(0, 0, 0, 0.85);
  margin: 0 auto 0;
  padding: 25px 30px;
  float: none;
}
/* line 129, hero-series-side.sass */
#dark-top article {
  margin-bottom: 0;
  border-bottom: none;
}
/* line 132, hero-series-side.sass */
#dark-top p {
  font-size: 93%;
  line-height: 1.4em;
  margin-bottom: 0;
}
/* line 136, hero-series-side.sass */
#dark-top h2 {
  font-size: 38px;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}
/* line 141, hero-series-side.sass */
#dark-top h5 {
  font-size: 100%;
}
/* line 143, hero-series-side.sass */
#dark-top h5 a {
  color: #6cb9e1;
}
/* line 145, hero-series-side.sass */
#dark-top h2 a {
  color: white;
}
/* line 147, hero-series-side.sass */
#dark-top .byline,
#dark-top .byline a,
#dark-top section {
  color: #dddddd;
}
/* line 152, hero-series-side.sass */
#dark-top .byline {
  font-weight: bold;
  font-size: 110%;
}
/* line 155, hero-series-side.sass */
#dark-top .byline a {
  text-transform: uppercase;
}
/* line 158, hero-series-side.sass */
#dark-top .span4 .top-tag {
  margin-bottom: 0.7em;
}
/* line 160, hero-series-side.sass */
#dark-top .related-story {
  font-size: 18px;
  line-height: 1.2em;
  margin-left: 0.2em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 160, hero-series-side.sass */
  #dark-top .related-story {
    margin-left: 0;
  }
}
/* line 167, hero-series-side.sass */
#dark-top .related-story a {
  color: white;
}
/* line 169, hero-series-side.sass */
#dark-top .more {
  text-align: right;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
/* line 175, hero-series-side.sass */
#dark-top .more a {
  color: #6cb9e1;
}
/* line 177, hero-series-side.sass */
#dark-top .more a:after {
  content: " »";
}
/* line 179, hero-series-side.sass */
#dark-top.overlay {
  background-color: transparent;
  margin-top: 0;
  position: absolute;
  bottom: 50px;
}
@media only screen and (max-width: 980px) {
  /* line 179, hero-series-side.sass */
  #dark-top.overlay {
    bottom: 15px;
  }
}

/* line 187, hero-series-side.sass */
#home-secondary {
  position: relative;
}
/* line 189, hero-series-side.sass */
#home-secondary > div {
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
  margin-top: -15px;
}
/* line 195, hero-series-side.sass */
#home-secondary .row-fluid > [class*='span'] .widget {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 198, hero-series-side.sass */
#home-secondary .row-fluid > [class*='span']:last-child .widget {
  border-right: none;
}
@media only screen and (max-width: 768px) {
  /* line 194, hero-series-side.sass */
  #home-secondary .row-fluid > [class*='span'] {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}

/* line 206, hero-series-side.sass */
#home-river {
  display: none;
}
/* line 208, hero-series-side.sass */
#home-river .span10 {
  margin: 0 auto;
  float: none;
}
