.home .full-hero {
  background-color: #eeeeee;
}
.home .full-hero a {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 1170px;
}
.home .full-hero img {
  margin: 0;
  display: block;
}
.home .full-hero.one-third-width img {
  width: 34.1%;
}
.home .full-hero.two-third-width img {
  width: 68.2%;
}
#main {
  position: relative;
}
#view-format {
  position: absolute;
  top: 0;
  right: 10px;
  color: black;
  z-index: 1;
}
#view-format * {
  margin-bottom: 0;
}
#view-format h1 {
  display: inline-block;
  font-size: 12px;
  text-transform: uppercase;
}
#view-format h1:after {
  content: ":";
}
#view-format ul {
  display: inline-block;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 12px;
}
#view-format li {
  display: inline-block;
  border-right: 1px solid white;
  padding: 0 6px;
}
#view-format li:last-child {
  border-right: 0;
}
#view-format a {
  color: #666666;
  font-family: sans-serif;
}
#view-format .active {
  font-weight: bold;
}
.view-list #view-format {
  color: #666666;
  text-shadow: none;
}
.view-list #view-format a {
  color: inherit;
}
.home-top {
  position: relative;
}
#dark-top {
  margin-top: -28px;
  color: white;
  background-color: black;
  font-family: sans-serif;
}
#dark-top .side-articles h5.byline,
#dark-top .side-articles h5.top-tag,
#dark-top .side-articles h4 {
  margin: 0;
}
#dark-top .side-articles h4 {
  font-size: 18px;
}
#dark-top .side-articles h4 a {
  color: white;
}
#dark-top .side-articles h5 {
  font-size: 80%;
}
#dark-top .side-articles h5.byline {
  color: #dddddd;
}
#dark-top .side-articles article {
  border-top: solid 3px rgba(108, 185, 225, 0.5);
  padding: 10px 0;
}
#dark-top .side-articles article:first-child {
  border-top: 0 none;
}
#dark-top .side-series h3 {
  color: #6cb9e1;
  font-size: 100%;
  text-transform: uppercase;
  margin: 0;
}
#dark-top .side-series h3 a {
  color: #6cb9e1;
}
#dark-top .side-series h4 {
  font-size: 18px;
  margin: 0;
}
#dark-top .side-series h4 a {
  color: white;
}
#dark-top .side-series article {
  padding: 5px 0;
}
#dark-top .side-series .read-more {
  text-align: right;
  font-size: 80%;
}
#dark-top .side-series .read-more a {
  color: #6cb9e1;
}
#dark-top .overlay-pane {
  background-color: #333333;
  padding: 20px 0;
}
#dark-top .overlay-pane.span8 {
  background-image: -ms-linear-gradient(left, #333333 0%, #333333 50%, #ffffff 50%, #ffffff 100%);
  background-image: -moz-linear-gradient(left, #333333 0%, #333333 50%, #ffffff 50%, #ffffff 100%);
  background-image: -o-linear-gradient(left, #333333 0%, #333333 50%, #ffffff 50%, #ffffff 100%);
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #333333), color-stop(0.5, #333333), color-stop(0.5, #ffffff), color-stop(1, #ffffff));
  background-image: -webkit-linear-gradient(left, #333333 0%, #333333 50%, #ffffff 50%, #ffffff 100%);
  background-image: linear-gradient(to right, #333333 0%, #333333 50%, #ffffff 50%, #ffffff 100%);
}
#dark-top .overlay-pane [class*="span"] {
  padding: 0 20px;
}
#dark-top article {
  margin-bottom: 0;
  border-bottom: none;
}
#dark-top p {
  font-size: 93%;
  line-height: 1.4em;
  margin-bottom: 0;
}
#dark-top h2 {
  font-size: 30px;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}
#dark-top h5 {
  font-size: 100%;
}
#dark-top h5 a {
  color: #6cb9e1;
}
#dark-top h2 a {
  color: white;
}
#dark-top .byline,
#dark-top .byline a,
#dark-top section {
  color: #dddddd;
}
#dark-top .byline {
  font-weight: bold;
  font-size: 110%;
}
#dark-top .byline a {
  text-transform: uppercase;
}
#dark-top .span4 .top-tag {
  margin-bottom: 0.7em;
}
#dark-top .related-story {
  font-size: 18px;
  line-height: 1.2em;
  margin-left: 0.2em;
  margin-bottom: 1em;
}
#dark-top .related-story a {
  color: white;
}
#dark-top .more {
  text-align: right;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
#dark-top .more a {
  color: #6cb9e1;
}
#dark-top .more a:after {
  content: " »";
}
#dark-top.overlay {
  background-color: transparent;
  margin-top: 0;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
#dark-top.overlay .overlay-pane {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}
#dark-top.overlay section a {
  color: #6cb9e1;
}
#dark-top.overlay .series-stories {
  margin-top: 20px;
}
#dark-top.overlay .series-stories h3 {
  color: #6cb9e1;
  text-transform: uppercase;
  font-size: 100%;
  margin: 0;
}
#dark-top.overlay .series-stories h3 a {
  color: #6cb9e1;
}
#dark-top.overlay .series-stories ul,
#dark-top.overlay .series-stories li {
  margin: 0;
  padding: 0;
  display: block;
  font-size: 90%;
  line-height: 1.1;
}
#dark-top.overlay .series-stories ul li {
  margin-top: 0.5em;
  padding-left: 1.5em;
}
#dark-top.overlay .series-stories ul a {
  color: white;
}
#dark-top.overlay .series-stories i {
  color: black;
  display: block;
  position: absolute;
  margin-left: -1.5em;
}
#dark-top.overlay .featured-stories {
  background-color: white;
  color: black;
}
#dark-top.overlay .featured-stories h5.byline,
#dark-top.overlay .featured-stories h5.top-tag,
#dark-top.overlay .featured-stories h4 {
  margin: 0;
}
#dark-top.overlay .featured-stories h4 {
  font-size: 18px;
}
#dark-top.overlay .featured-stories h4 a,
#dark-top.overlay .featured-stories section {
  color: black;
}
#dark-top.overlay .featured-stories h5 {
  font-size: 80%;
}
#dark-top.overlay .featured-stories h5.byline,
#dark-top.overlay .featured-stories h5.byline a {
  color: #444444;
}
#dark-top.overlay .featured-stories article {
  border-top: solid 3px rgba(108, 185, 225, 0.5);
  padding: 10px 0;
}
#dark-top.overlay .featured-stories article:first-child {
  border-top: 0 none;
}
#home-secondary {
  position: relative;
}
#home-secondary > div {
  background-color: white;
  padding: 20px;
  padding-bottom: 0;
}
#home-secondary .row-fluid > [class*='span'] .widget {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: none;
}
#home-secondary .row-fluid > [class*='span']:last-child .widget {
  border-right: none;
}
#home-river {
  display: none;
}
#home-river .span10 {
  margin: 0 auto;
  float: none;
}
@media screen and (max-width: 768px) {
  .home .full-hero.one-third-width img {
    width: 50%;
  }
  #dark-top {
    position: relative;
    margin-top: -140px;
    bottom: auto;
  }
  #dark-top .overlay-pane {
    width: 50%;
  }
  #dark-top .overlay-pane.span8 {
    background-image: none;
  }
  #dark-top .span10 {
    width: 100%;
  }
  #dark-top .row-fluid [class*='span'] {
    float: none;
    width: 100%;
    margin: 0 0 0 0;
  }
  #dark-top .span4 {
    margin-top: 30px !important;
  }
  #dark-top .related-story {
    margin-left: 0;
  }
  #dark-top.overlay .featured-stories {
    display: none;
  }
  #home-secondary .row-fluid > [class*='span'] {
    float: none;
    width: 100%;
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .home .full-hero.one-third-width img {
    width: 100%;
  }
  #dark-top {
    margin-top: -40px;
  }
  #dark-top .span10 {
    padding: 15px 18px !important;
  }
  #dark-top.overlay {
    position: relative;
  }
  #dark-top.overlay .overlay-pane {
    position: relative;
    width: 100%;
  }
}
