@charset "UTF-8";
/* line 6, hero-series.sass */
.home .full-hero img {
  max-width: 1170px;
  width: 100%;
  margin: 0 auto;
  display: block;
}

/* line 12, hero-series.sass */
#main {
  position: relative;
}

/* line 15, hero-series.sass */
#view-format {
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
}
/* line 21, hero-series.sass */
#view-format * {
  margin-bottom: 0;
}
/* line 23, hero-series.sass */
#view-format h1 {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-size: 12px;
  text-transform: uppercase;
}
/* line 27, hero-series.sass */
#view-format h1:after {
  content: ":";
}
/* line 29, hero-series.sass */
#view-format ul {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 12px;
}
/* line 34, hero-series.sass */
#view-format li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  border-right: 1px solid white;
  padding: 0 6px;
}
/* line 38, hero-series.sass */
#view-format li:last-child {
  border-right: 0;
}
/* line 40, hero-series.sass */
#view-format a {
  color: white;
  font-family: sans-serif;
}
/* line 43, hero-series.sass */
#view-format .active {
  font-weight: bold;
}

/* line 46, hero-series.sass */
.home-top {
  position: relative;
}

/* line 49, hero-series.sass */
#dark-top {
  position: absolute;
  bottom: 50px;
  color: white;
  font-family: sans-serif;
}
@media only screen and (max-width: 980px) {
  /* line 49, hero-series.sass */
  #dark-top {
    bottom: 15px;
  }
}
@media only screen and (max-width: 768px) {
  /* line 49, hero-series.sass */
  #dark-top {
    position: relative;
    top: -140px;
    bottom: auto;
  }
  /* line 60, hero-series.sass */
  #dark-top .span10 {
    width: 100%;
  }
  /* line 62, hero-series.sass */
  #dark-top .row-fluid [class*='span'] {
    float: none;
    width: 100%;
    margin: 0 0 0 0;
  }
  /* line 66, hero-series.sass */
  #dark-top .span4 {
    margin-top: 30px !important;
  }
}
@media only screen and (max-width: 480px) {
  /* line 49, hero-series.sass */
  #dark-top {
    top: -40px;
  }
  /* line 70, hero-series.sass */
  #dark-top .span10 {
    padding: 15px 18px !important;
  }
}
/* line 73, hero-series.sass */
#dark-top .span10 {
  background-color: rgba(0, 0, 0, 0.85);
  margin: 0 auto 0;
  padding: 25px 30px;
  float: none;
}
/* line 78, hero-series.sass */
#dark-top article {
  margin-bottom: 0;
  border-bottom: none;
}
/* line 81, hero-series.sass */
#dark-top p {
  font-size: 93%;
  line-height: 1.4em;
  margin-bottom: 0;
}
/* line 85, hero-series.sass */
#dark-top h2 {
  font-size: 38px;
  line-height: 1.1em;
  margin-bottom: 0.3em;
}
/* line 90, hero-series.sass */
#dark-top h5 {
  font-size: 100%;
}
/* line 92, hero-series.sass */
#dark-top h5 a {
  color: #6cb9e1;
}
/* line 94, hero-series.sass */
#dark-top h2 a {
  color: white;
}
/* line 96, hero-series.sass */
#dark-top .byline,
#dark-top .byline a,
#dark-top section {
  color: #dddddd;
}
/* line 101, hero-series.sass */
#dark-top .byline {
  font-weight: bold;
  font-size: 110%;
}
/* line 104, hero-series.sass */
#dark-top .byline a {
  text-transform: uppercase;
}
/* line 107, hero-series.sass */
#dark-top .span4 .top-tag {
  margin-bottom: 0.7em;
}
/* line 109, hero-series.sass */
#dark-top .related-story {
  font-size: 18px;
  line-height: 1.2em;
  margin-left: 0.2em;
  margin-bottom: 1em;
}
@media only screen and (max-width: 768px) {
  /* line 109, hero-series.sass */
  #dark-top .related-story {
    margin-left: 0;
  }
}
/* line 116, hero-series.sass */
#dark-top .related-story a {
  color: white;
}
/* line 118, hero-series.sass */
#dark-top .more {
  text-align: right;
  margin-bottom: 0;
  font-weight: bold;
  font-size: 16px;
}
/* line 124, hero-series.sass */
#dark-top .more a {
  color: #6cb9e1;
}
/* line 126, hero-series.sass */
#dark-top .more a:after {
  content: " »";
}
