// Category, Tag and Taxonomy Pages
.archive-background {
  margin-bottom: @baseline;
  h1 {
    font-size: @baseFontSize * 2.75;
    margin-bottom: 3px;
  }
  p {
    font-size: @baseFontSize;
    margin-bottom: @baseline/3;
  }
  .related-topics {
    font-family: @sansFontFamily;
	h5 {
	  display: inline;
	  float: left;
	  font-size: @baseFontSize;
	  margin: 0 5px 0 0;
	  line-height: 1.3;
    }
	ul {
	  font-size: @baseFontSize;
	  float: left;
	  list-style: none;
	  margin: 1px 0 0;
	  line-height: 1.3;
	  li {
	    display: inline;
	    margin: 0;
	    padding: 0;
	    &:after {
	      content: ", ";
	    }
	    &:last-child:after {
	      content: "";
	    }
	  }
    }
  }
}
h3.recent-posts {
  padding: 2px 0;
  margin-bottom: @baseline * 0.815;
  border-bottom: 1px solid @grayLight;
  border-top: 3px solid @grayLight;
}
article img.attachment-post-thumbnail {
  float: right;
  max-width: 30%;
  margin: 0 0 10px 20px;
}
// Date Archive
.archive-dropdown {
  margin-bottom: @baseline/2;
}
// Series Landings
#series-footer {
  clear: both;
}
#series-main #content {
  margin-bottom: @baseline;
}
#series-header .byline time,
#series-header .byline .clean-read,
#series-header .byline .sep {
  display: none;
}