// NAVBAR (FIXED AND STATIC)
// -------------------------


// COMMON STYLES
// -------------

.navbar {
  // Fix for IE7's bad z-indexing so dropdowns don't appear below content that follows the navbar
  *position: relative;
  *z-index: 2;
  overflow: visible;
  margin-bottom: @baseline/5;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  float: left;
  width: 100%;
  background-color: @baseColor;
}

// Set width to auto for default container
// We then reset it for fixed navbars in the #gridSystem mixin
.navbar .container {
  width: auto;
}

// Override the default collapsed state
.nav-collapse.collapse {
  height: auto;
}

// Brand, links, text, and buttons
.navbar {
  color: @navbarText;
  font-family: @sansFontFamily;
  // Hover and active states
  // Plain text in topbar
  .navbar-text {
    margin-bottom: 0;
  }
}

.navbar .toggle-nav-bar {
  display: none;
}

.navbar li i {
  height: 1em;
  font-size: 0.9em;
}

// NAVIGATION
// ----------

.navbar .nav {
  position: relative;
  left: 0;
  display: block;
  float: left;
  margin: 0;
}
.navbar .nav.pull-right {
  float: right; // redeclare due to specificity
}
.navbar li {
  display: block;
  float: left;
  margin-bottom: 0;
}
.navbar li > a {
  display: block;
  color: @navbarLinkColor;
  text-decoration: none;
  line-height: @navbarHeight;
  vertical-align: middle;
  padding-left: @navbarHeight/4;
  padding-right: @navbarHeight/4;
}
.navbar #header-social li > a {
  padding-right: 0;
}
.navbar li.dropdown > a {
  padding-right: 0;
}
.navbar li.dropdown .dropdown-menu li a {
  padding-right: 10px;
  line-height: @baseLineHeight;
}
.navbar .open > a,
html.no-touch .navbar li > a:hover {
  .transition(background-color 300ms ease-out);
  background-color: @navbarLinkBackgroundActive;
  color: #eee;
}
li.home-link:hover i {
  .opacity(85);
}
.navbar li.home-link {
  overflow: hidden;
}

.navbar li.home-link > a {
  display: block;
  &:hover {
    background: none;
  }

  img {
    display: block;
    height: @navbarHeight;
    width: @navbarHeight;
  }
}

.navbar li.home-icon > a {
  padding: 0; 
  &:hover {
    background: none;
  }

  img {
    display: block;
    height: (@navbarHeight - 16px);
    width: auto;
    padding-right: 5px;
    padding-bottom: 8px;
    padding-top: 8px;
  }
}

// Active nav items
.navbar .active > a,
.navbar .active > a:hover {
  color: @navbarLinkColorActive;
  text-decoration: none;
  background-color: @navbarLinkBackgroundActive;
}

// Dividers (basically a vertical hr)
.navbar .divider-vertical {
  height: @navbarHeight;
  width: 1px;
  margin: 0 0 0 2px;
  overflow: hidden;
  background-color: @navbarBackground;
}

.navbar .home-link + .divider-vertical {
  margin: 0;
}

// Navbar button for toggling navbar items in responsive layouts
// These definitions need to come after '.navbar .btn'
.navbar .btn-navbar {
  display: none;
  float: left;
  margin: 4px 0;
  margin-right: 10px;
  padding: @navbarHeight/5 10px;
  background-color: @navbarBackgroundHighlight;
  border: none;
}
.navbar .btn-navbar:hover {
  background-color: darken(@navbarBackgroundHighlight, 10%);
}
.navbar .btn-navbar .label {
  float: right;
  color: white;
  line-height: 1;
  margin: -2px 0 0 5px;
  padding: 0;
  font-size: @navbarFontSize;
}
.navbar .btn-navbar .bars {
  float:left;
}
.navbar .btn-navbar .icon-bar {
  display: block;
  width: 18px;
  height: 3px;
  background-color: @navbarText;
}
.btn-navbar .icon-bar + .icon-bar {
  margin-top: 3px;
}

// DROPDOWN MENUS
// --------------

// Use the .menu class on any <li> element within the topbar or ul.tabs and you'll get some superfancy dropdowns
.dropup,
.dropdown {
  position: relative;
}
.dropdown-toggle {
  // The caret makes the toggle a bit too tall in IE7
  *margin-bottom: -3px;
}
.dropdown-toggle:active,
.open .dropdown-toggle {
  outline: 0;
}

// Dropdown arrow/caret
// --------------------
.caret {
  display: inline-block;
  position: relative;
  width: 10px;
  padding: 0 5px;
  font-size: 0.99em;

  &:before {
    display: block;
    position: absolute;
    top: 50%;
    margin-top: -3px;
    left: 50%;
    margin-left: -5px;

    width: 0;
    height: 0;
    border-top:   6px solid @white;
    border-right: 5px solid transparent;
    border-left:  5px solid transparent;
    content: "";
  }

  &:after {
    content: "\0000a0";
  }

  .opacity(90);
}

// Place the caret
.dropdown:hover .caret,
.open .caret {
  .opacity(100);
}

// The dropdown menu (ul)
// ----------------------
.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: @zindexDropdown;
  display: none;
  float: left;
  min-width: 160px;
  padding: 3px 0;
  margin: 0; // override default ul
  list-style: none;
  background-color: @dropdownBackground;
  border: 1px solid @grayLighter;
  border: 1px solid rgba(0,0,0,.2);
  *border-right-width: 2px;
  *border-bottom-width: 2px;
  .border-radius(5px);
  .box-shadow(0 5px 10px rgba(0,0,0,.2));
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  // Dividers (basically an hr) within the dropdown
  .divider {
    .nav-divider(@dropdownDividerTop, @dropdownDividerBottom);
  }
  li {
    padding-top: 0;
    width: 100%;
  }
  // Links within the dropdown menu
  li > a {
    display: block;
    width: auto;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    color: @dropdownLinkColor;
    white-space: nowrap;
    text-shadow: none;
  }
}
@media (min-width: 769px) {
  html.no-touch ul.nav li.dropdown:hover ul.dropdown-menu,
  html.touch ul.nav li.dropdown.open ul.dropdown-menu {
      display: block;
  }
  .home .sticky-nav-wrapper {
    height: 0;
  }
}

.navbar .dropdown-menu .active > a,
.navbar .dropdown-menu .active > a:hover {
  color: @linkColor;
  font-weight: bold;
  background-color: @dropdownBackground;
}

// Hover state
// -----------

.dropdown-menu li a:hover {
  background: none;
}
.dropdown-menu li a:hover {
  color: @dropdownLinkColorHover;
  text-decoration: none;
  background-color: @dropdownLinkBackgroundHover;
}

// Open state for the dropdown
// ---------------------------
.open {
  // IE7's z-index only goes to the nearest positioned ancestor, which would
  // make the menu appear below buttons that appeared later on the page
  *z-index: @zindexDropdown;

  & > .dropdown-menu {
    display: block;
  }
}

// Allow for dropdowns to go bottom up (aka, dropup-menu)
// ------------------------------------------------------
// Just add .dropup after the standard .dropdown class and you're set, bro.
// TODO: abstract this so that the navbar fixed styles are not placed here?
.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: 4px solid @black;
    content: "\2191";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: 1px;
  }
}

// Typeahead
// ---------
.typeahead {
  margin-top: 2px; // give it some space to breathe
  .border-radius(4px);
}

// Dropdown menus
// --------------

// Menu position and menu carets
.navbar .dropdown-menu {
  &:before {
    content: '';
    display: inline-block;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid @grayLighter;
    border-bottom-color: @dropdownBorder;
    position: absolute;
    top: -10px;
    left: 9px;
  }
  &:after {
    content: '';
    display: inline-block;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid @dropdownBackground;
    position: absolute;
    top: -9px;
    left: 10px;
  }
}
// Dropdown toggle caret
.navbar .nav li.dropdown .dropdown-toggle .caret,
.navbar .nav li.dropdown.open .caret {
  border-top-color: @white;
  border-bottom-color: @white;
}
.navbar .nav li.dropdown.active .caret {
  .opacity(100);
}

// Remove background color from open dropdown
.navbar .nav li.dropdown.open > .dropdown-toggle,
.navbar .nav li.dropdown.active > .dropdown-toggle,
.navbar .nav li.dropdown.open.active > .dropdown-toggle {
  background-color: transparent;
}

// Dropdown link on hover
.navbar .nav li.dropdown.active > .dropdown-toggle:hover {
  color: @white;
}
.dropdown-menu li {
  margin-bottom: 0;
}
/* add support for second level dropdown menus */
.dropdown-menu .sub-menu,
.dropdown-menu .sub-sub-menu {
  position: absolute;
  top: -20%;
  left: 99%;
  visibility: hidden;
  margin-top: 0;
}
.dropdown-menu .icon-arrow-right {
  position: relative;
  top: 2px;
  left: 3px;
}
.dropdown-menu li:hover .sub-menu,
.dropdown-menu .sub-menu li:hover .sub-sub-menu {
  visibility: visible;
  display: block;
}
.navbar .sub-menu:before,
.navbar .sub-sub-menu:before {
  border-bottom: 9px solid transparent;
  border-left: none;
  border-right: 9px solid rgba(0, 0, 0, 0.2);
  border-top: 9px solid transparent;
  left: -9px;
  top: 30%;
}
.navbar .sub-menu:after,
.navbar .sub-sub-menu:after {
  border-top: 8px solid transparent;
  border-left: none;
  border-right: 8px solid @white;
  border-bottom: 8px solid transparent;
  top: 31%;
  left: -8px;
}

// TABLETS AND BELOW
// -----------------
@media (max-width: 979px) {
  .supplemental {
    overflow: hidden;
    height: 0;
  }
}

@media (max-width: 768px) {
  .navbar {
    position: relative;
    z-index: 9;
  }
  .navbar .container {
    width: auto;
    padding: 0;
  }
  .navbar .toggle-nav-bar {
    display: block;
  }
  .navbar .nav-shelf {
    position: absolute;
    top: 100%;
    left: -10px;
    right: -10px;
    visibility: hidden;
    opacity: 0;
    .site-name, .home-icon, .home-link {
    	display: none;
    }
  }
  .navbar.open .nav-shelf {
    visibility: visible;
    opacity: 1;
    border-bottom: solid 1px @dropdownBorder;
    &:after {
      position: absolute;
      content: " ";
      display: block;
      bottom: -5px;
      left: 0;
      right: 0;
      height: 5px;
      #gradient > .vertical( rgba(0,0,0,0.5), rgba(0,0,0,0) );
      background-color: transparent;
    }
  }
  .navbar .nav-shelf {
    background: @dropdownBackground;
    ul, li {
      float: none;
    }
    li.home-link { display: none; }
    li .caret {
      float: right;
      .border-radius(4px);
      background-color: @linkColor;
      margin-right: 5px;
      padding: 0px 7px;
      //top: -3px;
      &:before {
        border-top-color: @dropdownBackground !important;
      }
    }
    a {
      color: @linkColor;
      font-size: 112%;
    }
    li.dropdown.open > a.dropdown-toggle {
      background-color: @linkColor;
      color: @dropdownBackground;
      .caret:before {
        border-top-color: @dropdownBackground !important;
      }
    }
    li.open > a .caret {
      .rotate( 180deg );
    }
    li.open > ul.dropdown-menu {
      display: block;
      position: relative;
      .box-shadow( none );
      .border-radius( 0 );
      &:before, &:after {
        display: none;
      }
    }
  }

  // COLLAPSIBLE NAVBAR
  // ------------------
  // Nav collapse clears brand
  .sticky-nav-holder .nav-collapse,
  .sticky-nav-holder .nav-middle {
    clear: both;
    overflow: hidden;
    height: 0;
    background-color: @navbarBackground;
    color: @navbarLinkColor;
    .nav {
      float: none;
      margin: 0 0 (@baseline / 2);
      > li,
      > span > li {
        float: none;
        display: block;
        > a {
          color: @navbarLinkColor;
          display: block;
          padding: 10px !important;
          &:hover {
            background:none !important;
            color: @navbarLinkColorHover;
          }
          .caret {
            float: right;
            border-top-color: @navbarLinkColor !important;
          }
        }
        &:hover > a {
          background:none;
        }
      }
      > .divider-vertical {
        display: none;
      }
      .nav-header {
        color: @navbarText;
        text-shadow: none;
      }
      .dropdown-menu a {
        color: @navbarLinkColor;
        &:hover {
          background:none !important;
          color: @grayLighter;
        }
      }
    }
    .divider {
      height: 1px;
      width: 94%;
      margin: 10px 10px 5px;
      padding:0;
      overflow: hidden;
      background-color: @white;
      border-bottom: 1px solid @navbarBackground;
    }
    .btn {
      padding: 4px 10px 4px;
      font-weight: normal;
      .border-radius(4px);
    }
      .dropdown-menu li + li a {
      margin-bottom: 2px;
    }
    .nav-collapse .nav > li > a:hover,
    .nav-collapse .dropdown-menu a:hover {
      background-color: @navbarBackground;
    }
    // Dropdowns in the navbar
    .dropdown-menu {
      position: static;
      top: auto;
      left: auto;
      float: none;
      display: block;
      max-width: none;
      margin: 0 15px;
      padding: 0;
      background-color: transparent;
      border: none;
      .border-radius(0);
      .box-shadow(none);
   &:before,
    &:after,
    .divider {
        display: none;
    }
    }
  }
}

// DEFAULT DESKTOP
// ---------------
// Hides the second site name in the sticky header when .nav-shelf is visible
@media (min-width: 769px) {
  .navbar .nav-left {
    display: none;
  }
}
// Required to make the collapsing navbar work on regular desktops
@media (min-width: 980px) {
  .nav-collapse.collapse {
    height: auto !important;
    overflow: visible !important;
  }
}

// The "Don't Miss" Secondary Nav
// ---------------

#topics-bar {
  border-bottom: 1px solid @grayLighter;
  padding: 3px 0;
  ul {
    margin: 0;
    font-family: @sansFontFamily;
    li {
      display: inline;
      margin-right: 10px;
      white-space: nowrap;
      font-size: 14px;
      &.menu-label {
        font-size: 15px;
        font-weight: bold;
      }
    }
  }
}

// Sticky nav
.sticky-nav-holder {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99998;
  visibility: hidden;
  opacity: 0;
  .transition( opacity 0.3s );
  background-color: @white;
  .box-shadow(0 0 16px @gray);
  &.show {
    visibility: visible;
    opacity: 1;
  }
  body.admin-bar & {
    top: 32px;
  }
  .home & {
    visibility: hidden;
    opacity: 0;
    &.show {
      opacity: 1;
      visibility: visible;
    }
  }
  .sticky-nav-container {
    margin: 0 auto;
    position: relative;
  }
  .navbar {
    margin-bottom: 0;
    li {
      > a {
        color: @linkColor;
      }
      .caret:before {
        border-top-color: @linkColor;
        border-top-color: rgba( red(@linkColor), green(@linkColor), blue(@linkColor), 0.8);
      }
      > a:hover .caret:before {
        border-top-color: @bodyBackground;
      }
    }
    .social-icons {
      margin: 0;
      float: left;
      li > a {
        color: #fff;
        &:hover {
          background-color: transparent;
        }
      }
    }
    .nav > li {
      &.active > a,
      &.active > a:hover {
        color: #fff;
      }
    &.home-link {
      .border-radius(0);
      min-width: 40px;
      text-align: center;
        a {
          img {
            width: 1.49em;
            height: 1.49em;
          }
        }
        .icon-home:before {
          position: relative;
          top: 0px;
        }
      }
    }
  }
  .navbar .nav li.dropdown.open > .dropdown-toggle,
  .navbar .nav li.dropdown.active > .dropdown-toggle,
  .navbar .nav li.dropdown.open.active > .dropdown-toggle {
    color: @grayLighter;
    background: @linkColor;
    .caret:before {
      border-top-color: @white;
    }
    &:hover {
      color: @white;
    }
  }
  .site-name {
    display: block;
    color: #343434;
    a {
      color: #343434;
      &:hover {
        background-color: #fff;
        color: #666;
        text-decoration: none;
      }
    }
    @media only screen and (max-width: 320px) {
      display: none;
    }
  }
  .nav-right {
    float: right;
    #header-extras {
      float: left;
      margin: 0;
      a.donate-link:hover {
        background: transparent;
      }
      a span {
        padding: 4px 8px;
        color: @white;
        background-color: @red;
        .border-radius(4px);
        &:hover {
          background-color: lighten(@red, 5%);
        }
        i {
          display: none;
        }

      }
    }
  }
  .nav-right .form-search {
    position: relative;
    .toggle {
      display: inline-block;
      color: @baseColor;
      display: inline-block;
      text-align: center;
      cursor: pointer;
      position: relative;
      z-index: 91;
      .transition( 0.3s );
    }
    .input-append {
      position: absolute;
      right: 44px;
      top: 0;
      right: 0;
      opacity: 0;
      visibility: hidden;
      .transition( 0.3s );
      padding: 10px;
      z-index: 90;
      width: 340px;
      .text-input-wrapper {
        display: block;
        float: left;
        width: 290px;
      }
      input {
        width: 100%;
        .box-sizing( border-box );
        height: 36px !important;
      }
      button {
        width: 50px !important;
        height: 36px !important;
        float: left;
        .box-sizing( border-box );
      }
    }
  }
  #sticky-nav-search.show {
    .input-append {
      position: absolute;
      opacity: 1;
      visibility: visible;
    }
    .input-append,
    .toggle {
      background-color: #343434;
      color: @bodyBackground;
    }
  }
}
