// Search Results
.search-results {
  .form-search {
    margin-bottom: 16px;
  }
  .search-term {
    background-color: @grayLighter;
    padding: 1px 5px;
  }
  .stories {
    article {
      padding-bottom: 12px;
    }
    h2.entry-title {
      font-size: 20px;
      margin-bottom: 5px;
    }
    h5.byline {
      font-size: 12px;
      margin-bottom: 0;
    }
    .entry-content,
    .entry-content p {
      font-size: 14px;
      margin-bottom: 5px;
    }
  }
}

/* Google CSE */
.gcs_container {
  margin: 20px 0;

  table {
    margin: 0;
  }

  table,
  tbody,
  tr,
  td {
    border: none;
  }

  .gsc-search-box {
    margin: 18px 0;
    .gsst_a .gscb_a {
      position: relative;
      top: 3px;
    }
    td.gsib_a {
      padding: 0 6px !important;
    }
  }

  .gsc-control-cse {
    .gs-result {
      .gs-title,
      .gs-title * {
        font-size: 22px;
        line-height: 1.2;
      }
    }
  }
}
