body.normal.single-post,
body.normal.page {
  #content {
    position: relative;
    margin-left: 17.021276594%;
    @media only screen and (max-width: 768px) {
      margin-left: 0;
    }
  }
  .hero {
    text-align: center;
    background-color: #efefef;
    width: 151.5%;
    margin: 0 -25.75% 24px;
    &.is-gallery {
      background-color: transparent;
    }
    p.wp-caption-text,
    p.wp-media-credit {
      float: none;
      margin: 0 auto;
      text-align: left;
      font-size: @baseFontSize !important;
      margin-bottom: 12px;
      padding-top: 4px;
      width: 70%;
    }
    p.wp-media-credit {
      text-align: right;
      margin-top: 4px;
      min-height: 0;
    }
    &.is-video {
      margin-bottom: 24px;
      .embed-container {
        margin-bottom: 0;
      }
    }
	&.is-empty {
      min-height: 0;
      height: 0;
	}
	@media only screen and (max-width: 980px) {
	  margin: 0 0 24px;
	  width: 100%;
	}
  }
  #sidebar {
    overflow: hidden;
    margin-left: -25.75%;
    margin-right: 0;
    width: 23.25%;
    clear: left;
  }
  .top-tag {
    float: left;
  }
  .top-date {
    float: right;
    font-size: @baseFontSize - 2;
    font-weight: normal;
    margin-bottom: 0;
	line-height: 1.5;
  }
  article.post > header {
    clear: both;
  }
  article.post .sep,
  article.post .entry-date {
    display: none;
  }
  h2.subtitle {
    font-size: @baseFontSize * 1.222;
    font-weight: normal;
    color: #999;
  }
  p.intro,
  p.wp-caption-text {
    font-style: normal;
  }
}
// sorry
body.normal.page.page-template-full-page-php #content {
  margin-left: 0;
}

// ARTICLE-BOTTOM REGION
.article-bottom {
  .widget {
    padding: 15px 0;
  p {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .post-social {
    border-top: none;
    border-bottom: none;
  }
  .largo-disclaimer {
    color: #454545;
    font-size: 15px;
    font-style: italic;
  }
}

// BYLINE
.byline {
  margin-bottom: @baseline / 2;
  font-weight: normal;
  font-size: @baseFontSize * 0.915;
  a {
    color: @textColor;
  }
  .author,
  .time-ago,
  .edit-link a {
    /*text-transform: uppercase;*/
  }
  .author {
    font-weight: bold;
  }
  .time-ago,
  .edit-link a {
    color: @red;
  }
}

// SOCIAL MEDIA LINKS
.post-social {
  min-height: 28px;
  height: auto;
  margin-bottom: @baseline;
  border-top: 1px solid @grayLighter;
  border-bottom: 1px solid @grayLighter;
  .right,
  .left {
    margin: 0;
    height: auto;
  }
  .left {
    padding: 6px 0 0;
  }
  .right {
    padding: 1px 0 0;
  }
  span {
    position: relative;
  }
  span.twitter {
    margin-right: 8px;
  }
  span.facebook {
    top: -7px;
  }
  span.print {
    font-family: Verdana, Helvetica, sans-serif;
    font-size: 11px;
    top: 1px;
    i.icon-print {
	  font-size: @baseFontSize + 2;
	  margin: 0 -3px 0 2px;
	  position: relative;
	  top: 2px;
    }
    &:hover {
      .opacity(85);
    }
    a {
      color: black;
      &:hover {
        text-decoration: none;
	  }
    }
  }
}

// POST PAGINATION
.post-pagination {
  a, span {
    padding: 5px;
    font-family: @sansFontFamily;
    text-transform: uppercase;
    font-size: @baseFontSize * 0.815;
    &:first-child {
	  padding-left: 0;
    }
  }
}

// POST META
.labels,
.tags,
.pager,
#related-posts,
.largo-post-series-links {
  clear: both;
  margin: 0 0 @baseline;
  width: 100%;
  h5 {
    font-size: @baseFontSize;
    margin-bottom: @baseline / 4;
    text-transform: uppercase;
    font-weight: bold;
  }
}
.tags,
.pager {
  list-style: none;
  font-size: @baseFontSize;
  font-family: @sansFontFamily;
}
.single-post .author-box,
.single-argolinkroundups .author-box,
.labels {
  h5 {
    font-size: @baseFontSize * 1.2;
    line-height: 1;
    margin-bottom: 0;
  }
}
h3.recent-posts,
.labels .series-label h5 {
  a.rss-link {
    float:right;
    margin-top: 4px;
    color: #f89406;
    font-size: @baseFontSize + 2;
    &:hover {
      .opacity(85);
    }
  }
}

// LABELS
.series-label {
  margin: 5px;
  padding: 8px;
  h5 {
    background: none;
    padding: 0;
    margin-bottom: 2px;
  }
  p {
    font-size: @baseFontSize * 0.815;
    margin-bottom: 0;
  }
}

// TAGS
.tags {
  height: 100%;
  overflow: auto;
  margin-bottom: @baseline / 2;
  ul {
    padding: 0;
    margin: 0;
    font-size: @baseFontSize - 3;
    line-height: 1.5;
	li {
	  display: inline;
	  letter-spacing: 1px;
	  margin: 0 8px 8px 0;
	  vertical-align: baseline;
	  font-weight: 300;
	  white-space: nowrap;
	  float: left;
	  background-color: @baseColor;
	  padding: 4px 8px 4px 5px;
	  .border-radius(3px);
	  &:hover {
	    background-color: darken(@baseColor, 10%);
	  }
	  i {
		margin: 1px 3px 0 0;
	  }
	  a {
		color: @white;
		&:hover {
		  text-decoration: none;
		}
	  }
	}
  }
}

// NEXT - PREV NAVIGATION
.pager {
  line-height: 1.2;
  a {
    display: inline-block;
    padding: 10px 15px;
    color: @textColor;
    background-color: darken(@postBoxBackgroundColor, 10%);
    &:hover {
  	  background-color: darken(@postBoxBackgroundColor, 35%);
  	  color: @white;
  	  text-decoration: none;
    }
  }
}
.next {
  width: 48%;
  float: right;
  text-align: right;
  img {
    float: right;
    padding-left: 12px;
  }
}
.previous {
  width: 48%;
  float: left;
  text-align: left;
  img {
    float: left;
    padding-right: 12px;
  }
}

// RELATED POSTS
#related-post-nav {
  padding: 8px 0;
  font-family: @sansFontFamily;
  li {
    list-style-type: none;
    margin-bottom: 0;
    font-size: @baseFontSize - 2;
    &:last-child a {
      border-bottom: 1px solid @grayLight;
    }
  }
  h5 {
    margin: 0 0 5px 0;
  }
  a {
    display: block;
    padding: 6px;
    font-weight: normal;
    text-decoration: none;
    border-top: 1px solid @grayLight;
    outline: none;
    &:hover {
      background-color: @grayLighter;
    }
    &.selected {
      color: @white;
      background: @baseColor;
      border: none;
      letter-spacing: 1px;
	}
  }
}
.related-items {
  div {
    display:none;
    padding: 0 2.5%;
    img {
      float: left;
      margin: 0 10px 10px 0;
    }
  }
  ul {
    margin: 5px 0;
    li {
      list-style: disc;
      margin-left: 15px;
      margin-bottom: 0;
      font-size: @baseFontSize * 0.815;
      &.top-related {
        list-style: none;
        margin-left: 0;
        border-bottom: 1px solid @grayLighter;
        margin-bottom: @baseline / 2;
        font-size: @baseFontSize * 0.5;
        h3 {
          font-size: @baseFontSize * 1.222;
          font-weight: bold;
          margin-bottom: @baseline / 4;
        }
        p {
          font-family: @baseFontFamily;
          font-size: @baseFontSize * 0.667;
          margin-bottom: @baseline / 2;
        }
      }
    }
  }
  p {
    font-family: @sansFontFamily;
    font-size: @baseFontSize * 0.815;
    margin-bottom: @baseline / 4;
  }
}

// CLASSIC STYLE SINGLE POSTS
.single-post.classic {
  article.post .sep,
  article.post .entry-date {
    display: inline;
  }
}
