
.icon-gplus:before { content: '\62'; } /* 'b' */
.icon-pinterest:before { content: '\63'; } /* 'c' */
.icon-cc:before { content: '\64'; } /* 'd' */
.icon-flickr:before { content: '\65'; } /* 'e' */
.icon-linkedin:before { content: '\66'; } /* 'f' */
.icon-rss:before { content: '\67'; } /* 'g' */
.icon-twitter:before { content: '\68'; } /* 'h' */
.icon-youtube:before { content: '\69'; } /* 'i' */
.icon-facebook:before { content: '\70'; } /* 'p' */
.icon-github:before { content: '\71'; } /* 'q' */
.icon-itunes:before { content: '\72'; } /* 'r' */
.icon-tumblr:before { content: '\73'; } /* 's' */
.icon-home:before { content: '\50'; } /* 'P' */
.icon-star:before { content: '\43'; } /* 'C' */
.icon-star-empty:before { content: '\44'; } /* 'D' */
.icon-heart-empty:before { content: '\42'; } /* 'B' */
.icon-heart:before { content: '\41'; } /* 'A' */
.icon-ok:before { content: '\45'; } /* 'E' */
.icon-cancel:before { content: '\46'; } /* 'F' */
.icon-plus:before { content: '\47'; } /* 'G' */
.icon-minus:before { content: '\48'; } /* 'H' */
.icon-help:before { content: '\49'; } /* 'I' */
.icon-tag:before { content: '\52'; } /* 'R' */
.icon-tags:before { content: '\53'; } /* 'S' */
.icon-print:before { content: '\55'; } /* 'U' */
.icon-comment:before { content: '\56'; } /* 'V' */
.icon-chat:before { content: '\57'; } /* 'W' */
.icon-play:before { content: '\60'; } /* '`' */
.icon-menu:before { content: '\4c'; } /* 'L' */
.icon-mail:before { content: '\75'; } /* 'u' */
.icon-spinner:before { content: '\61'; } /* 'a' */
.icon-instagram:before { content: '\74'; } /* 't' */
.icon-headphones:before { content: '\59'; } /* 'Y' */
.icon-phone:before { content: '\58'; } /* 'X' */
.icon-download:before { content: '\54'; } /* 'T' */
.icon-search:before { content: '\4d'; } /* 'M' */
.icon-link:before { content: '\51'; } /* 'Q' */